.cle-about-the-webinar-section {
  background-color: $color-light-blue;
  margin-bottom: 100px;
  &__item {
    display: flex;
    align-items: center;
    &-text {
      @extend %text-18;
      font-weight: 500;
    }
  }
  &__list {
    max-width: 436px;
  }
  &__title {
    margin-bottom: 48px;
  }
  &__description {
    margin-bottom: 37px;
    @extend %text-18;
    font-family: $font-family-messina;
    font-weight: 500;

    p {
      margin-bottom: 37px;
    }

    h4 {
      margin-bottom: 48px;
    }

    ol,
    ul {
      margin: 0 0 40px;

      li {
        display: inline-flex;
        align-items: center;
        font-family: $font-family-messina;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;

        &::before {
          content: '';
          flex-shrink: 0;
          margin-right: 40px;
          position: relative;
          height: 50px;
          width: 50px;
          color: $color-white;
          font-family: $font-family-arizona;
          font-size: rem(28);
          justify-content: center;
          display: flex;
          align-items: center;
          background-image: url(../img/shapes-1.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:nth-child(n+2) {
          margin-top: 40px;
        }
      }
    }

    ol {
      counter-reset: item;

      li {
        display: inline-flex;

        &::before {
          content: counters(item, "");
          counter-increment: item;
        }
      }
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  &__content {
    margin-top: 45px;
    max-width: 530px;
    @media (max-width: 991px) {
      margin: auto;
    }
  }
}