.cle-accordion-section {
  $as: &;

  &__top {
    text-align: center;
    max-width: 752px;
    margin: 0 auto 150px;
  }
  &__title {
    margin-bottom: 0;
    padding-right: 50px;
  }
  &__body {
    margin: 12px 50px 20px 0;
    display: none;
    &-text {
      font-family: $font-family-messina;
      font-weight: 500;
      @extend %text-18;
    }
    &-link {
      font-family: $font-family-messina;
      font-weight: 500;
      color: $color-blue;
      a {
        &:hover {
          transition: all 0.4s;
          .cle-accordion-section__body-link-icon {
            transition: all 0.4s;
            margin-left: 20px;
          }
        }
      }
      &-icon {
        margin-left: 15px;
        transition: all 0.4s;
      }
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  &__main {
    &-title {
      margin-bottom: 24px;
    }
    &-description {
      font-family: $font-family-messina;
      font-weight: 500;
      line-height: 150%;
    }
  }


  &__image {
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: auto;
    @media (max-width: 575px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 280px;
    }
    &.shapes-v1 {
      position: relative;
      @media (max-width: 575px) {
        max-width: 300px;
      }
      &:before {
        content: '';
        position: absolute;
        top: -70px;
        left: 0px;
        width: 384px;
        height: 356px;
        background-image: url('../img/shape-yellow-1.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        @media (max-width: 1599px) {
          left: -50px;
          width: 256px;
          height: 237px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          left: 0;
        }
        @media (max-width: 575px) {
          top: -30px;
          left: -20px;
          width: 182px;
          height: 165px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -80px;
        right: 10px;
        width: 313px;
        height: 318px;
        background-image: url('../img/shape-orange-1.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        @media (max-width: 1599px) {
          bottom: -100px;
          right: 50px;
          width: 209px;
          height: 212px;
        }
        @media (max-width: 991px) {
          bottom: -50px;
          right: 0;
        }
        @media (max-width: 767px) {
          right: -30px;
          bottom: -15px;
          width: 120px;
          height: 131px;
        }
      }

      #{$as}__poster {
        width: 523px;
        height: auto;
      }
    }
    &.shapes-v2 {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -60px;
        left: 90px;
        width: 282px;
        height: 270px;
        background-image: url('../img/shape-blue-1.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        @media (max-width: 1599px) {
          left: 0;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          left: 100px;
        }
        @media (max-width: 575px) {
          left: 0;
          width: 188px;
          height: 180px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 30px;
        right: 120px;
        width: 241px;
        height: 259px;
        background-image: url('../img/shape-orange-3.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
        @media (max-width: 1599px) {
          right: 50px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          right: 100px;
        }
        @media (max-width: 575px) {
          right: 0;
          width: 161px;
          height: 173px;
        }
      }
    }
    #{$as}__poster {
      position: relative;
      width: 465px;
      height: 483px;
      z-index: 2;
      @media (max-width: 1199px) {
        width: 388px;
        height: 403px;
      }
      @media (max-width: 575px) {
        width: 258px;
        height: 268px;
      }
    }
    &-main {
      width: 100%;
      height: auto;
      &.border-image {
        mask: url("../img/border3.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        object-fit: cover;
        width: 100%;
        height: 100%;
        min-height: unset;
      }
    }
    // &.without-a-shape {
    //   #{$as}__poster {
    //     width: 523px;
    //     height: auto;
    //   }
    // }
  }
  &__accordion {
    max-width: 555px;
    margin-left: auto;
    @media (max-width: 991px) {
      margin: auto;
      margin-top: 80px;
    }
    @media (max-width: 575px) {
      margin-top: 40px;
    }
    .cle-accordion {
      padding: 16px 0 25px;
      &.active {
        .cle-accordion-section__head-btn span:nth-child(2) {
          transform: rotate(0);
          opacity: 0;
        }
      }
    }
  }
  &__head {
    position: relative;
    &-btn {
      position: absolute;
      border: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #1464ff;
      top: calc(50% - 15px);
      right: 0;
      margin: auto;
      transition: all 0.4s;
      &:hover {
        background-color: $color-second-blue;
      }
      span {
        display: block;
        height: 0;
        width: 13px;
        border-bottom: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all .4s;
        opacity: 1;
        &:nth-child(2) {
          transform: rotate(90deg);
        }
      }
    }
  }

  &_with-blue-bg {
    background-color: $color-light-blue;
  }
  &__img-in-laptop {
    position: relative;
    overflow: hidden;
    max-width: max-content;
    margin: auto;
    @media (max-width: 575px) {
      margin: 0 30px;
    }
    .cle-btn_blue {
      position: absolute;
      bottom: 24%;
      right: 11%;
      z-index: 2;
      transition: all 0.4s;
      &:hover,
      &:focus,
      &:active {
        &:after {
          border-color: transparent transparent $color-dark-blue transparent;
        }
      }
      @media (max-width: 575px) {
        font-size: 14px;
      }
      &:after {
        left: initial;
        right: 100%;
        border-width: 0 0 44px 10px;
        border-color: transparent transparent $color-blue transparent;
      }
    }
  }
  &__img {
    position: absolute;
    top: 6.7%;
    left: 11.6%;
    width: 77%;
    height: 83.6%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 2;
  }
  &__laptop {
    width: 50vw;
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}