.cle-app-detail-section {
	&__image {
		max-width: 456px;
		@media (max-width: 1200px) {
			max-width: 400px;
		}
		@media (max-width: 991px) {
			margin: 0 auto 40px;
		}
	}

	&__description {
		font-family: $font-family-messina;
		font-weight: 500;
		@extend %text-18;
		margin-bottom: 40px;
	}

	&__btn-cont {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		&-col {
			display: flex;
			flex-direction: column;

			.cle-btn {
				padding: 10px 24px 13px 32px;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		&-logo {
			margin-right: 40px;
			max-width: 50px;
			height: auto;
		}
		&-description {
			font-family: $font-family-messina;
			font-weight: 500;
			@extend %text-18;
			margin-bottom: 0;
		}
	}
}