.cle-application-gallery {
	&__item {
		padding: 50px;
		box-shadow: $box-shadow-second;
		border-radius: 20px;
		background-color: $color-white;
		text-align: center;
		&-icon {
			margin-bottom: 30px;
			img {
				max-height: 86px;
			}
		}

		&-title {
			a {
				color: $color-dark-blue;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__items {
		row-gap: 30px;
	}
}