.cle-app-slider {
    overflow: hidden;
    max-width: 100%;
    
    .swiper {
        overflow: visible;
    }
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 575px) {
            flex-wrap: wrap;
        }
    }
    
    &__item {
        box-shadow: $box-shadow-second;
        border-radius: 20px;
        max-width: 390px;
        max-height: 400px;
    }
    
    &__text {
        padding: 34px 22px 26px;
        min-height: 182px;
    }
    
    &__image {
        img {
            height: 218px;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
    
    &__description {
        margin-bottom: 0;
    }
    
    &__btn-cont {
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    
    &__next {
        transform-origin: center;
        transform: rotate(-180deg);
        
        circle {
            transition: all .4s;
        }
    }
    
    &__prev {
        circle {
            transition: all .4s;
        }
    }
    
    .swiper-button-disabled circle {
        fill: $color-white;
    }
    
    .swiper {
        overflow: visible;
    }
    
    &__item {
        box-shadow: $box-shadow-second;
        border-radius: 20px;
        max-width: 390px;
        max-height: 400px;
    }
    
    &__text {
        padding: 34px 22px 26px;
        min-height: 182px;
    }
    
    &__image {
        img {
            height: 218px;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: contain;
            padding: 40px 50px;
        }
    }
    
    &__title {
        a {
            color: $color-dark-blue;
            text-decoration: none;
            
            &:hover {
                color: $color-dark-blue;
                text-decoration: $color-dark-blue;
            }
        }
    }
    
    &__description {
        margin-bottom: 0;
    }
    
    &__btn-cont {
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    
    &__next {
        transform-origin: center;
        transform: rotate(-180deg);
        
        circle {
            transition: all .4s;
        }
    }
    
    &__prev {
        circle {
            transition: all .4s;
        }
    }
    
    .swiper-button-disabled circle {
        fill: $color-white;
    }
}
