.cle-brand-cta-section {
  $bcs: &;

  overflow: hidden;
  &__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 43px;
    @media (max-width: 767px) {
      padding-right: 0;
      padding-left: 0;
    }

    lottie-player {
      width: auto;
      height: 200px;
      @media (max-width: 767px) {
        height: 160px;
      }
    }
  }
  &__wrap {
    padding: 130px 85px 110px;
    height: 100%;
    position: relative;
    @media (max-width: 991px) {
      padding: 80px 40px 75px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      height: 100%;
    }

    &_light {
      #{$bcs} {
        &__bg {
          background-color: $color-light-blue;
        }

        &__title {
          color: $color-dark-blue;
        }

        &__description {
          color: $color-dark-blue;
        }
      }
    }
  }
  &__bg {
    background-color: $color-dark-blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  &__title {
    color: $color-white;
  }
  &__description {
    margin-bottom: 40px;
    color: $color-white;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }
  .container {
    height: 100%;
  }
}
.pin-spacer {
  margin-top: 150px!important;
  @media (max-width: 991px) {
    margin-top: 100px!important;
  }
  @media (max-width: 575px) {
    margin-top: 80px!important;
  }
}