.cle-content-blocks-section {
  overflow: hidden;
  $cbs: &;

  padding: 150px 0;
  &__wrap {
    overflow: hidden;
  }
  @media (max-width: 767px) {
    padding: 75px 0;
  }

  .swiper {
    overflow: visible;

    &-slide {
      height: auto;
    }
  }

  &__container {
    @media (min-width: 1400px) and (max-width: 1599px) {
      max-width: 1256px;
    }
  }


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 103px;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 63px;
    }

    #{$cbs} {
      &__navigation {
        @media (max-width: 767px) {
          margin-top: 32px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 16px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: rem(24);
    color: $color-dark-blue;
    line-height: 1.5;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

  &__prev,
  &__next {
    width: 52px;
    height: auto;
    cursor: pointer;

    circle {
      transition: all .4s;
    }

    &.swiper-button-disabled {
      circle {
        fill: $color-white;
      }
    }
  }

  &__next {
    transform-origin: center;
    transform: rotate(-180deg);
  }

  &__item {
    padding: 95px 37px;
    height: 100%;
    background: $color-dark-blue;
    border-radius: 20px;
    max-width: 390px;
  }

  &__icon {
    margin-bottom: 22px;
    width: 128px;
    height: auto;
    transition: all .4s;
    transform-origin: top left;
    @media (max-width: 767px) {
      width: 106px;
    }
  }

  &__name {
    margin-bottom: 13px;
    color: $color-white;
  }

  &__description {
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 16px;
    color: $color-white;
    line-height: 28px;

    & > * {
      color: $white;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    a {
      color: $white;
      transition: all .4s;
      text-decoration: underline;

      @media (hover: hover) {
        &:hover {
          color: $color-medium-blue;
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 25px;
    font-family: $font-family-messina;
    font-weight: 600;
    font-size: 16px;
    color: $color-white;
    line-height: 24px;
    transition: all .4s;

    @media (hover: hover) {
      &:hover {
        color: $color-white;
        text-decoration: none;
      }
    }

    &:focus {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__bottom {
    display: none;
    margin-top: 76px;
  }

  &_light-blue {
    background-color: $color-light-blue;
  }

  &_items-version-2 {
    #{$cbs} {
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 409px;
        padding: 48px 40px 52px;

        @media (hover: hover) {
          &:hover {
            #{$cbs} {
              &__icon {
                transform: scale(0.5);
              }
            }
          }
        }
      }

      &__text {
        height: 0;
        overflow: hidden;
        transition: all .8s;
        @media (max-width: 1199px) {
          height: auto;
        }
      }
    }
  }

  &_centered-header {
    #{$cbs} {
      &__header {
        justify-content: center;
  
        &-content {
          margin: 0 auto;
          max-width: 900px;
          text-align: center;
        }
        
        #{$cbs}__navigation {
          display: none !important;
        }
      }

      &__bottom {
        display: block;
      }
    }
  }
}