.cle-courses-block-section {

  $cle-courses-block-section: &;

  background-color: $color-light-blue;
  &__block {
    border-radius: 20px;
    background: $color-white;
    padding: 40px 20px;
    text-align: center;
    max-width: 386px;
    transition: all .4s;
    position: relative;
    @media screen and (max-width: 767px) {
      max-width: max-content;
    }
    &-eyebrow {
      display: none;
      background-color: $color-white;
      color: $color-blue;
      font-family: $font-family-messina;
      font-weight: 600;
      padding: 5px 0;
    }
    &-btn {
      margin-top: 40px;
    }
    &-description {
      margin-bottom: 0;
      font-family: $font-family-messina;
      font-weight: 500;
      line-height: 188%;
    }
    &-top-main {
      padding-bottom: 26px;
      margin-bottom: 27px;
      border-bottom: 1px solid $color-dark-blue;
    }
  }
  &__blocks {
    max-width: 836px;
    margin: auto;
    .row {
      @media screen and (max-width: 767px) {
        row-gap: 50px;
      }
    }
  }

  &_preferred {
    background-color: $color-dark-blue;
    border-radius: 0 0 20px 20px;
    #{$cle-courses-block-section} {
      &__block-title, &__block-description,  &__block-price_information {
        color: $color-white;
      }
      &__block-eyebrow {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        border-radius: 20px 20px 0 0;
      }
      &__block-top-main {
        border-bottom: 1px solid $color-white;
      }
    }
    .cle-btn {
      background-color: $color-white;
      color: $color-blue;
      .icon svg path{
        fill: $color-blue;
      }
    }
  }
}