.cle-cpt-blocks-section {
  position: relative;
  &__header {
    max-width: 75%;
    margin-bottom: 0;
    @media (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 27px;
    }
  }
  &__wrap {
    .cle-btn {
      margin: auto;
      display: flex;
      margin-top: 75px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      display: block;
    }
    &-categories {
      width: 570px;
      height: 72px;
      display: flex;
      border-radius: 20px 20px 0 0;
      box-shadow: $box-shadow;
      position: relative;
      background-color: $color-white;
      @media (max-width: 991px) {
        width: 400px;
      }
      @media (max-width: 767px) {
      width: auto;
      }
      button {
        width: 50%;
        height: 100%;
        border: none;
        background-color: rgba($color-white, .35);
        color: rgba($color-true-black, .35);
        font-size: rem(20);
        &:first-child {
          border-radius: 20px 0 0 0;
          border-left: 0;
        }
        &:nth-child(n+2) {
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
        &.active {
          background-color: $color-white;
          color: $color-true-black;
        }
      }
    }
  }
  &__cards {
    .row {
      row-gap: 30px;
      @media (max-width: 991px) {
        justify-content: center;
      }
    }
  }
  &__card {
    border: 1.5px solid $color-light-blue;
    border-radius: 20px;
    box-shadow: $box-shadow-second;
    height: 100%;
    background-color: $color-white;
    &-content {
      padding: 35px 22px;
      min-height: 369px;
      border-radius: 0 0 20px 20px;
      @media (min-width: 767px) and (max-width: 1200px) {
        min-height: 409px;
      }
      @media (max-width: 767px) {
        min-height: auto;
      }
    }
    &-category {
      color: $color-dark-blue;
      text-transform: uppercase;
    }
    &-title {
      color: $color-dark-blue;
      display: block;
      &:hover {
        color: $color-dark-blue;
      }
    }
    &-text {
      color: $color-dark-blue;
      font-family: $font-family-messina;
      font-weight: 500;
      line-height: 30px;
    }
    &-date {
      font-family: $font-family-messina;
      font-weight: 600;
      line-height: 22.4px;
    }

    &-img {
      position: relative;
      &-category {
        position: absolute;
        top: 0;
        left: 0;
        color: $color-dark-blue;
        padding: 10px 15px;
        background-color: $color-white;
        border-radius: 10px;
        margin: 9px;
        font-weight: 600;
      }
      img {
        height: 218px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
      }
    }
  }
  .cle-btn {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: inherit;
  }
  &__btn-cont {
    display: flex;
    &-bm {
      display: flex;
      .cle-btn {
        margin: auto;
      }
    }
    .cle-btn {
      margin: auto;
        @media (max-width: 767px) {
          margin-left: inherit;
        }
    }
  }
}