.cle-faq {
  &__title {
    font-size: rem(70);
    color: $color-dark-blue;
    font-weight: normal;
    text-align: center;
    @media (max-width: 991px) {
      font-size: rem(54);
    }
    @media (max-width: 767px) {
      font-size: rem(43);
    }
  }
  &__accordion {
    margin: auto;
    .cle-accordion__body {
      font-family: $font-family-messina;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  &__wrap {
    max-width: 900px;
    margin: auto;
  }
}