.cle-flexible-page-header {
  $fph: &;

  position: relative;
  padding: 95px 0 162px;
  overflow: hidden;
  @media (max-width: 991px) {
    padding: 71px 0 122px;
  }
  @media (max-width: 575px) {
    padding: 30px 0 59px;
  }

  &__container {
    position: relative;
    z-index: 1;
    @media (min-width: 1400px) and (max-width: 1599px) {
      max-width: 1256px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      max-width: unset;
      width: 100%;
      padding: 0 66px;
    }
    @media (max-width: 767px) {
      max-width: unset;
      width: 100%;
      padding: 0 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__start {
    position: relative;
    z-index: 2;
    max-width: 639px;
    @media (max-width: 991px) {
      max-width: unset;
      width: 100%;
    }
  }
  
  &__end {
    margin-right: -215px;
    width: 835px;
    @media (min-width: 1600px) {
      margin-right: -77px;
    }
    @media (max-width: 991px) {
      order: -1;
      margin-right: auto;
      margin-bottom: 83px;
      margin-left: auto;
      max-width: 562px;
      width: 100%;
    }
    @media (max-width: 767px) {
      margin-bottom: 44px;
      width: 416px;
    }
    @media (max-width: 575px) {
      margin-left: -93px;
      margin-right: 0;
    }
    @media (max-width: 374px) {
      width: 316px;
    }

    &_full-size {
      @media (max-width: 991px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    max-width: 640px;
    font-size: 65px;
    line-height: 70px;
    @media (max-width: 991px) {
      margin-bottom: 47px;
      max-width: unset;
      text-align: center;
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
      font-size: 36px;
      line-height: 42px;
    }
    @media (max-width: 575px) {
      text-align: left;
    }
  }

  &__text {
    max-width: 505px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    @media (max-width: 991px) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: 575px) {
      margin-right: 0;
      margin-left: 0;
      text-align: left;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px 16px;
    margin-top: 40px;
    @media (max-width: 991px) {
      justify-content: center;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__big-btns {
    display: none;
    flex-wrap: wrap;
    gap: 10px 14px;
    @media (max-width: 991px) {
      gap: 10px;
    }
    @media (max-width: 767px) {
      gap: 12px 13px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 21px;
    padding: 35px 25px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: $color-dark-blue;
    background: $color-white;
    box-shadow: 0px 10px 20px rgba(10, 30, 70, 0.1);
    border-radius: 10px;
    transition: all .4s;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 30px;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
        background-color: $color-light-blue;
      }
    }

    svg {
      flex-shrink: 0;
      circle {
        stroke-width: 1.5px;
        stroke: $color-blue;
      }

      path {
        fill: $color-blue;
      }
    }
  }

  &__img {
    max-width: unset;
    width: 100%;
    height: auto;
  }
  &_with-image-in-laptop {
    #{$fph} {
      &__end {
        @media (max-width: 575px) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
  &__img-in-laptop {
    position: relative;
    overflow: hidden;
    max-width: max-content;
    margin: auto;
    #{$fph} {
      &__img {
        position: absolute;
        top: 3.7%;
        left: 3%;
        width: calc(100% - 6%);
        height: calc(100% - 37.4%);
        object-fit: cover;
        z-index: 2;
      }
    }
    .cle-btn_blue {
      position: absolute;
      bottom: 40%;
      left: 2.8%;
      z-index: 2;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }

  &__img-in-laptop-2 {
    #{$fph} {
      &__img {
        top: 6.7%;
        left: 11.6%;
        width: 77.1%;
        height: 83.7%;
      }
    }
    .cle-btn_blue {
      bottom: 20%;
      left: 11.5%;
    }
  }
  &__laptop {
    width: 50vw;
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  &__images {
    display: none;
    position: relative;
    align-items: flex-end;
    width: 561px;
    height: 521px;
    @media (min-width: 1400px) {
      transform: translateX(-64px);
    }
    @media (min-width: 1600px) {
      transform: translateX(0);
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
      transform: translateX(-154px);
    }
    @media (max-width: 1199px) {
      width: 402px;
      height: 373px;
    }
    @media (max-width: 575px) {
      width: 230px;
      height: 213px;
    }

    &-poster {
      position: relative;
      z-index: 2;
      max-width: 100%;
      width: 428px;
      height: 471px;
      @media (max-width: 1199px) {
        width: 306px;
        height: 337px;
      }
      @media (max-width: 575px) {
        width: 175px;
        height: 193px;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask: url("../../assets/img/border1-1.svg");
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
      }
    }

    &-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (hover: hover) {
        &:hover {
          &::before {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 121px;
        height: 121px;
        background-image: url('../img/play.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .4s;
      }
    }

    &_with-usual-image {
      width: 616px;
      height: 531px;
      justify-content: center;
      align-items: center;
      transform: translateX(0) !important;
      @media (max-width: 1199px) {
        width: 513px;
        height: 443px;
      }
      @media (max-width: 575px) {
        margin-top: 50px;
        width: 257px;
        height: 222px;
      }

      #{$fph} {
        &__images-poster {
          width: 525px;
          height: 360px;
          @media (max-width: 1199px) {
            width: 350px;
            height: 300px;
          }
          @media (max-width: 575px) {
            width: 233px;
            height: 200px;
          }
        }
      }

      img {
        mask: none;
        height: auto;
        object-fit: contain;
      }
    }

    &_with-covered-image {
      width: 543px;
      height: 305px;
      border-radius: 11px;
      overflow: hidden;
      transform: translateX(0) !important;
      @media (max-width: 1440px) {
        width: 100%;
      }
      @media (max-width: 1199px) {
        width: 350px;
        height: 300px;
      }
      @media (max-width: 991px) {
        width: 100%;
        height: 400px;
      }
      @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
        height: 300px;
      }

      #{$fph} {
        &__images-poster {
          width: 100%;
          height: 100%;
        }
      }

      img {
        mask: none;
        object-fit: cover;
      }
    }
  }

  &__shape-tl {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 45px;
    width: 244px;
    height: auto;
    @media (max-width: 1199px) {
      top: 30px;
      width: 188px;
      height: auto;
    }
    @media (max-width: 575px) {
      top: 20px;
      left: 20px;
      width: 108px;
    }
  }

  &__shape-br {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 89px;
    width: 226px;
    @media (max-width: 1199px) {
      bottom: 59px;
      width: 163px;
      height: auto;
    }
    @media (max-width: 575px) {
      bottom: 36px;
      width: 94px;
    }
  }

  &__shape-tr {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -31px;
    width: 281px;
    height: auto;
    @media (max-width: 1199px) {
      width: 234px;
    }
    @media (max-width: 575px) {
      top: -21px;
      right: -21px;
      width: 100px;
    }
  }

  &__shape-bl {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 361px;
    height: auto;
    @media (max-width: 1199px) {
      width: 301px;
    }
    @media (max-width: 575px) {
      bottom: -20px;
      left: -20px;
      width: 200px;
    }
  }

  &__starburst {
    position: absolute;
    top: -15px;
    left: -20px;
    @media (max-width: 1199px) {
      width: 67px;
      height: auto;
    }
    @media (max-width: 575px) {
      top: -5px;
      left: -15px;
      width: 38px;
    }
  }

  .cle-secondary-btn {
    padding-left: 35px;
    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &_with-left-bottom-shape {
    @media (min-width: 1441px) {
      padding-bottom: 125px;
    }
    @media (max-width: 1440px) {
      padding-bottom: 96px;
    }
    @media (max-width: 991px) {
      padding-bottom: 79px;
    }
    @media (max-width: 767px) {
      padding-bottom: 109px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 73%;
      height: 236px;
      background-color: $color-light-blue;
      border-radius: 0 260px 0 0;
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        height: 189px;
      }
    }
  }

  &_with-right-bottom-shape {
    padding-bottom: 256px;
    @media (max-width: 991px) {
      padding-bottom: 171px;
    }
    @media (max-width: 767px) {
      padding-bottom: 114px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 54%;
      height: 467px;
      background-color: $color-light-blue;
      border-radius: 260px 0 0 0;
      @media (max-width: 991px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        height: 189px;
      }
    }
  }

  &_with-big-buttons {
    #{$fph} {
      &__content {
        align-items: flex-start;
      }

      &__start {
        margin-top: 50px;
        max-width: 762px;
        @media (max-width: 991px) {
          margin-top: 0;
        } 
      }

      &__btns {
        display: none;
      }

      &__big-btns {
        position: relative;
        z-index: 2;
        display: flex;
        margin-top: 77px;
        @media (max-width: 991px) {
          margin-top: 47px;
        }
        @media (max-width: 767px) {
          margin-top: 35px;
        }

        #{$fph}__link {
          &:first-child {
            width: 100%;
            background-color: $color-blue;
            font-size: 30px;
            line-height: 30px;
            color: $white;
            transition: all .4s;
            @media (max-width: 767px) {
              font-size: 20px;
              line-height: 30px;
            }

            @media (hover: hover) {
              &:hover {
                background-color: $color-second-blue;
              }
            }

            svg {
              fill: $color-white;
            }
          }

          &:nth-child(n+2) {
            flex: 1 1 calc(50% - 7px);
          }
        }
      }
    }
  }

  &_with-image-and-shape {
    @media (max-width: 991px) {
      padding-top: 35px;
    }
    @media (max-width: 767px) {
      padding-top: 18px;
    }

    #{$fph} {
      &__start {
        @media (min-width: 1200px) {
          flex-shrink: 0;
        }
      }

      &__end {
        width: auto;
        @media (min-width: 992px) {
          margin-right: 0;
        }
        @media (max-width: 767px) {
          margin-bottom: 32px;
        }
        @media (max-width: 575px) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &__images {
        display: flex;
      }
    }
  }
}