.cle-galaxy-section {
  position: relative;
  background-color: $color-light-blue;
  .col-left {
    @media (max-width: 767px) {
      order: 2;
    }
  }
  &__description {
    font-family: $font-family-messina;
    font-weight: 500;
    line-height: 170%;
  }
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__title {
    margin-bottom: 12px;
  }
  &__wrap {
    overflow: hidden;
  }
  &__image {
    margin-right: -50%;
    @media (max-width: 991px) {
      margin-right: auto;
    }
    svg {
      width: 100%;
      height: auto;
      @media (max-width: 991px) {
        max-height: 318px;
      }
    }
  }
}