.cle-icons-row-section {
  &__title {
    text-align: center;
  }
  &__items {
    display: flex;
    width: 100%;
    padding: 53px 63px;
    border-radius: 20px;
    box-shadow: $box-shadow-second;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
    }
    &.back-dark-blue {
      .cle-icons-row-section__item-title {
        color: $color-white;
      }
    }
  }
  &__item {
    text-align: center;
    width: inherit;
    @media (max-width: 991px) {
      width: 33.33%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    &-title {
      margin-bottom: 0;
    }
    &-icon {
      margin-bottom: 10px;
    }
  }
}