.cle-image-and-content-second {
  &__wrap {
    overflow: hidden;
    padding-bottom: 25px;
  }
  &__btn {
    position: absolute;
    top: 75%;
    left: 13px;
    @media (max-width: 575px) {
      top: 65%;
    }
    .cle-btn {
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 50px;
    column-gap: 50px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }
  &__title {
    margin-bottom: 32px;
  }
  &__start {
    position: relative;
    z-index: 2;
    max-width: 639px;
    @media (max-width: 991px) {
      order: 2;
    }
    ul {
      margin: 0;
      row-gap: 13px;
      display: grid;
      li::marker {
        font-size: 30px;
        color: $color-blue!important;
      }
      li {
        h2, h3, h4, h5, h6, p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__el {
    position: absolute;
    top: -20%;
    left: -15%;
    z-index: -1;
    @media (max-width: 575px) {
      left: 50%;
      transform: translate(-111%, -7px);
    }
  }
  &__end {
    margin-right: -40%;
    width: 835px;
    @media (min-width: 1600px) {
      margin-right: -10%;
    }
    @media (max-width: 1300px) {
      margin-right: -30%;
    }
    @media (max-width: 1200px) {
      margin-right: -15%;
    }
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    @media (max-width: 575px) {
      max-width: 100%;
    }
  }
  &__image {
    position: relative;
    @media (max-width: 575px) {
      text-align: center;
    }
    &-col {
      position: relative;
    }
  }
  &__main-img {
    position: absolute;
    top: 1px;
    left: 12px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    object-fit: cover;
    border-radius: 17px;
  }
  &__back-img {
    position: relative;
    max-width: max-content;
  }
  &__top {
    margin: 0 auto 80px;
    text-align: center;
  }
  &__container {
    position: relative;
    z-index: 1;
  }
}