.cle-image-and-content {


  &.img-left {
    //.cle-image-and-content__image-cont {
    //  margin-left: inherit;
    //
    //}
    .row {
      .col-lg-6 {
        &:last-child {
          order: -1;
          //@media (max-width: 991px) {
          //  order: 1;
          //}
          .cle-image-and-content__image {
            &-main {

              @media (max-width: 767px) {
                margin: auto;
              }
            }
          }
        }

      }
    }
  }
  &.img-right {
    .cle-image-and-content__image-cont {
      //margin-right: inherit;
      &.shapes-v2 {
        .cle-image-and-content__shape-gr {
          right: 0;
        }
        .cle-image-and-content__shape-or {
          left: 20px;
        }
      }
    }
    .row {
      .col-lg-6 {
        &:last-child {
          @media (max-width: 991px) {
            order: -1;
          }
        }
      }
    }
  }
  &__top {
    text-align: center;
    max-width: 960px;
    margin: 0 auto 80px;
  }
  &__subtitle {
    font-family: $font-family-messina;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &__main {
    &-title {
      margin-bottom: 24px;
    }
    &-description {
      margin-bottom: 24px;
      font-family: $font-family-messina;
      font-weight: 500;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 555px;
    @media (max-width: 991px) {
      max-width: max-content;
    }
  }
  &__description {
    margin-bottom: 40px;
    @extend %text-18;
    font-family: $font-family-messina;
    font-weight: 500;
  }
  &__image {
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    &-el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //@media (max-width: 991px) {
      //  width: 85%;
      //}
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &-wrap {
      position: relative;
      display: flex;
      min-height: 600px;
      @media (max-width: 991px) {
        margin-bottom: 50px;
      }
      @media (max-width: 767px) {
        width: 350px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 300px;
      }
    }
    &-main {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-mask-repeat: no-repeat;
      min-height: 30vw;
      -webkit-mask-size: 100% 100%;
      @media (min-width: 1600px) {
        min-height: 400px;
      }
      @media (max-width: 991px) {
        min-height: 400px;
      }
      @media (max-width: 767px) {
        margin: auto;
        min-height: 220px;
      }
    }
    &-cont {
      position: relative;
      z-index: 2;
      max-width: 100%;
      margin: auto;
      padding: 0 85px;
      @media (max-width: 991px) {
        //margin-left: inherit;
        padding: 0;
      }
    }
  }
}

