.cle-logo-section {
  overflow: hidden;
  &__item {
    min-width: 20%;
    text-align: center;
    @media screen and (max-width: 991px) {
      min-width: 33%;
    }
    @media screen and (max-width: 767px) {
      min-width: 50%;
    }
  }
  &__logo {
    max-height: 103px;
  }
  &__logos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 75px;
  }
  &__name-company {
    font-weight: 400;
    margin: 15px 0 0 0;
  }
  &__description {
    line-height: 150%;
    font-family: $font-family-messina;
    font-weight: 500;
  }
  &__title {
    font-weight: 400;
    margin-bottom: 24px;
  }
  &__content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 75px;
  }
  &__list {
    .swiper {
      overflow: visible;
    }
  }
}