.cle-numbers-section {
  position: relative;
  overflow: hidden;
  &__main-title {
    text-align: center;
    color: $color-white;
  }
  &__cont {
    &.back-light-blue {
      .cle-numbers-section__title {
        color: $color-dark-blue;
      }
      .cle-numbers-section__description {
        color: $color-dark-blue;
      }
    }
  }
  &__col {
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  &__wrap {
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    &-cont {
      width: 100%;
      &-col {
        padding: 0 10px;
      }
    }
    @media (max-width: 991px) {
      height: 324px;
    }
    @media (max-width: 767px) {
      height: auto;
      padding: 89px 0 186px;
    }
    .row {
      width: 100%;
      justify-content: center;
      @media (max-width: 767px) {
        row-gap: 67px;
      }
    }
  }
  &__title {
    @extend  %text-70;
    line-height: 100%;
    color: $color-white;
    margin-bottom: 34px;
    @media (max-width: 991px) {
      margin-bottom: 8px;
    }
  }
  &__description {
    font-family: $font-family-messina;
    font-weight: 500;
    color: $color-white;
  }
  &.back-blue {
    background-color: $color-blue;
  }
  &.back-dark-blue {
    background-color: $color-dark-blue;
  }
  &.back-transparent {
    background-color: $color-white;
    .cle-numbers-section__title {
      color: $color-dark-blue;
    }
    .cle-numbers-section__description {
      color: $color-dark-blue;
    }
  }
}