.cle-one-post {
  &__img {
    height: 100%;
    padding-right: 30px;
    .post-categories {
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      padding-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__data {
    @extend %text-16-v2;
    font-family: $font-family-messina;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__description {
    font-family: $font-family-messina;
    font-weight: 500;
    line-height: 186%;
  }
  &__category {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    font-weight: 600;
    li {
      padding: 10px 15px;
      background-color: $color-white;
      margin: 10px 0 0 10px;
      border-radius: 10px;
      :first-child {
        margin-left: 0;
      }
    }
  }
  &__title {
    font-family: $font-family-arizona;
    line-height: 134%;
  }
  &__content {
    font-family: $font-family-messina;
    font-weight: 500;
    line-height: 186%;
    @media (max-width: 767px) {
      margin-top: 15px;
    }
    height: 100%;
    align-items: center;
    display: flex;
  }
}