.cle-open-positions {

	&__main-title {
		text-align: center;
		margin-bottom: 43px;
	}
	&__description {
		text-align: center;
		max-width: 960px;
		margin: auto;
		font-weight: 500;
		line-height: 1.5;
		font-family: $font-family-messina;
	}
	&__top {
		&-wrap {
			display: flex;
			column-gap: 30px;
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
		}

	}
	.cle-filters-search {
		width: 55%;
		margin-bottom: 0;
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__filters-select {
		width: 50%;
		margin-left: 0;
		@media (max-width: 767px) {
			width: 100%;
		}
		.select2-dropdown {
			top: 32px;
		}
		.select2-container {
			width: 100% !important;
		}
		select {
			width: 100%;
			padding: 0 18px;
			height: 50px;
			border-radius: 10px;
			border: 1px solid #1464ff;
			font-weight: 500;
			background-color: #fff;
			color: #0a1e46;
		}
	}
	&__card {
		box-shadow: $box-shadow-second;
		border-radius: 10px;
		background-color: $color-white;
		position: relative;
		align-items: center;
		display: grid;
		transition: all 0.4s;
		&-link {
			height: 100%;
			width: 100%;
			// position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&:hover {
			.cle-open-positions__card-wrap {
				border: 2px solid $color-blue;
				border-radius: 10px;
			}
		}
		.row {
			align-items: center;
		}
		&-wrap {
			padding: 37px 37px 37px 40px;
			// padding: 39px 37px 39px 40px;
			border: 2px solid $color-white;
			transition: all 0.4s;
			border-radius: 10px;
			.cle-accordion {
				padding: 0;
				border: none;
			}
		}
		&-title {
			@extend %h5;
			margin-bottom: 0;
			&-link {
				display: block;
				width: fit-content;
				background-color: $color-light-blue;
				border-radius: 10px;
				margin-bottom: 22px;
				padding: 12px 15px;
				font-family: $font-family-messina;
				font-weight: 600;
				a {
					color: $color-dark-blue;
					font-family: $font-family-messina;
					font-weight: 600;
					@extend %text-16;
					padding: 12px 15px;
				}
			}
		}
		&-location {
			@extend %text-16;
			margin-bottom: 0;
			font-family: $font-family-messina;
		}
		&-description {
			@extend %text-16;
			margin-bottom: 0;
			font-family: $font-family-messina;
		}
	}
	&__cards {
		row-gap: 30px;
		display: grid;
	}
}