.cle-our-leadership {
  background-color: $color-light-blue;
  &__title {
    text-align: center;
  }

  &__content {
    padding: 40px 20px 35px;
    min-height: 201px;

  }
  &__card {
    box-shadow: $box-shadow-second;
    border-radius: 20px;
    background-color: $color-white;
    &-image {
      img {
        border-radius: 20px 20px 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &:hover {
      cursor: pointer;
      .cle-our-leadership__card-link {
        display: block;
        a {

        }
      }
    }
    &-position {
      font-weight: 500;
      font-family: $font-family-messina;
    }
    &-link {
      display: none;
      a {
        font-weight: 500;
        font-family: $font-family-messina;
        color: $color-blue;

        img {
          margin-left: 15px;
        }
      }
    }
  }
  &__cards {
    .row {
      row-gap: 40px;
    }
  }
}