.cle-pricing-tabs-section {
  $pts: &;

  background-color: $color-light-blue;

  &__tab {
    display: none;

    &_active {
      display: block;
    }
  }

  &__top {
    padding: 123px 0 149px;
    max-width: 836px;
    margin: auto;
    @media (max-width: 767px) {
      padding: 82px 0 99px;
    }

    &_bot-sm-indent {
      padding-bottom: 75px;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 75px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

    h1 {
      margin: 0;
      text-align: center;
    }
  }

  &__toggler {
    display: flex;
    margin-bottom: 75px;
    width: 100%;
    min-height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(10, 30, 70, 0.1);
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

    &-item {
      flex: 1 1 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: 30px;
      color: rgba($color-true-black, .35);
      transition: all .4s;
      cursor: pointer;

      &_active {
        color: $color-true-black;
      }

      &:nth-child(n+2) {
        border-left: 1px solid rgba($color-true-black, .1);
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    margin: 0 auto 113px;
    color: $color-dark-blue;
    @media (max-width: 767px) {
      margin-bottom: 75px;
    }

    &-title {
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 27px;
        line-height: 31px;
      }
    }

    &-text {
      font-family: $font-family-messina;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }

  .cle-courses-block-section {
    &__blocks {
      max-width: 100%;
      width: 100%;
    }
  }

  &__bot {
    padding: 150px 0;
    background-color: $color-white;
    @media (max-width: 991px) {
      margin: 80px 0;
    }

    &_v2 {
      padding: 0 0 75px;
      background-color: $color-light-blue;
    }
  }

  &__row {
    display: flex;
    background-color: $color-white;
    width: 100%;
    min-height: 54px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    &-start {
      padding: 12px 18px;
      width: 55%;
      font-family: $font-family-messina;
      font-weight: 500;
      font-size: 16px;
      color: $color-true-black;
      line-height: 30px;
      border-bottom: 1px solid $color-light-blue;
      @media (max-width: 991px) {
        padding: 10px 10px 5px;
        width: 100%;
        text-align: center;
      }
    }

    &-end {
      display: flex;
      column-gap: 2%;
      width: 45%;
      border-bottom: 1px solid $color-light-blue;
      @media (max-width: 991px) {
        width: 100%;
      }

      & > div {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        max-width: 49%;
        font-family: $font-family-messina;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        @media (max-width: 991px) {
          padding: 5px 10px 10px;
        }
      }
    }

    &_blue {
      background-color: $color-light-blue;
    }

    &_expandable {
      align-items: flex-start;
      cursor: pointer;

      #{$pts} {
        &__row {
          &-start {
            display: flex;
            align-items: center;
            column-gap: 12px;
            @media (max-width: 991px) {
              justify-content: center;
            }
          }

          &-end {
            min-height: inherit;

            & > div {
              opacity: 0;
              height: 0;
              overflow: hidden;
              transition: all .4s;
              @media (max-width: 991px) {
                opacity: 1;
                height: auto;
                overflow: auto;
              }
            }
          }

          &-arrow {
            transition: all .4s;
            @media (max-width: 991px) {
              display: none;
            }
          }
        }
      }

      &.js-expandable-open {
        #{$pts} {
          &__row {
            &-arrow {
              transform: rotate(-180deg);
            }

            &-end {
              & > div {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__head {
    &-top {
      width: 100%;

      #{$pts}__row {
        &-end {
          transform: translateY(1px);
          column-gap: 0;
          border-bottom: 0;

          & > div {
            min-height: 60px;
            border: 1px solid $color-dark-blue;
            border-right-width: 0;
            border-bottom-width: 0;
            background-color: transparent;
            font-family: $font-family-arizona;
            font-size: 20px;
            line-height: 30px;
            color: $color-true-black;
            max-width: 50%;
            @media (max-width: 991px) {
              padding: 5px;
              text-align: center;
            }

            &:first-child {
              border-radius: 10px 0 0 0;
              background: $color-blue;
              color: $color-white;
            }

            &:last-child {
              border-radius: 0 10px 0 0;
              border-right-width: 1px;
            }
          }
        }
      }
    }

    &-bot {
      padding: 10px 15px;
      width: 100%;
      min-height: 58px;
      border: 1px solid $color-dark-blue;
      border-radius: 4px 0 0 0;
      font-family: $font-family-arizona;
      font-size: 28px;
      line-height: 38px;
      @media (max-width: 991px) {
        border-radius: 0;
      }
      @media (max-width: 767px) {
        min-height: 39px;
        font-size: 19px;
        line-height: 25px;
      }
    }
  }

  &__body {
    border: 1px solid $color-dark-blue;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    #{$pts}__row {
      &-end {
        & > div {
          &:first-child {
            #{$pts} {
              &__checkbox-bg {
                fill: $color-blue;
              }

              &__checkbox-checkmark {
                stroke: $white;
              }
            }
          }
        }
      }
    }
  }

  &__label {
    padding: 10px 18px;
    width: 100%;
    min-height: 56px;
    background-color: $color-dark-blue;
    font-family: $font-family-arizona;
    font-size: 20px;
    line-height: 30px;
    color: $color-white;
    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__links {
    display: flex;
    width: 100%;
    height: 101px;
    @media (max-width: 991px) {
      height: auto;
    }
  }

  &__accordion {
    #{$pts} {
      &__row {
        &-end {
          border-left: 1px solid $color-dark-blue;
  
          & > div {
            max-width: 100%;
          }
        }
      }

      &__links {
        border-top: 1px solid $color-dark-blue;
      }
    }

    &-head {
      #{$pts}__row {
        background-color: transparent;

        &-end {
          background-color: $color-white;
          border-radius: 20px 20px 0 0;
          border: 1px solid $color-dark-blue;
          transform: translateY(2px);

          & > div {
            display: flex;
            align-items: center;
            column-gap: 25px;
            width: 100%;
            min-height: 109px;

            span {
              font-family: $font-family-arizona;
              font-size: 20px;
              color: $color-dark-blue;
              line-height: 30px;
            }
          }
        }
      }
    }

    &-body {
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid $color-dark-blue;
      background-color: $color-white;
    }

    &-item {
      &:first-child {
        #{$pts}__accordion-title {
          border-top-width: 0;
        }
      }

      &:last-child {
        #{$pts}__accordion-title {
          border-bottom-width: 0;
        }
      }

      #{$pts}__row {
        &-end {
          & > div {
            & > *:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }

    &-content {
      height: 0;
      overflow: hidden;
      transition: all .4s;

      #{$pts}__row {
        &-end {
          ul {
            li {
              margin-bottom: 0;
              padding-bottom: 0;
              @media (max-width: 991px) {
                text-align: left;
              }

              a {
                color: $color-true-black;
                text-decoration: underline;

                @media (hover: hover) {
                  &:hover {
                    color: $color-true-black;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }

      & > *:last-child {
        border-bottom: 0;
        #{$pts}__row {
          &-start {
            border-bottom: 0;
          }

          &-end {
            border-bottom: 0;
          }
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      column-gap: 16px;
      padding: 15px 18px;
      width: 100%;
      min-height: 58px;
      background-color: $color-white;
      font-family: $font-family-arizona;
      font-size: 28px;
      line-height: 38px;
      border-top: 1px solid $color-dark-blue;
      border-bottom: 1px solid $color-dark-blue;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  .cle-accordion-left {
    display: block;
    padding: 12px 18px;
    width: 100%;
    @media (max-width: 991px) {
      justify-content: center;
      text-align: center;
    }
  }

  .cle-solutions-section {
    background-color: $color-white;
  }
}