.cle-select-with-text {
  &__top {
    margin-bottom: 100px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
  }

  &__container {
    max-width: 900px;
  }

  &__select {
    position: relative;

    &-wr {
      display: block;
      padding: 13px 41px 13px 35px;
      max-width: 100% !important;
      width: 100%;
      height: 52px;
      background: transparent;
      border: 2px solid $color-blue;
      border-radius: 10px;
      font-family: $font-family-messina;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $color-blue;
      appearance: none;
      cursor: pointer;
      outline: none;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      right: 41px;
      transform: translateY(-50%);
      width: 19px;
      height: auto;
    }
  }

  &__tab {
    display: none;

    &_active {
      display: block;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 81px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }

  &__poster {
    width: 100%;
    height: 506px;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 767px) {
      height: 337px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}