.cle-simple-content-section {
  &__items {
    max-width: 800px;
    margin: auto;
  }
  &__text {
    font-family: $font-family-messina;
    font-weight: 500;
    @extend %text-18;
    margin-bottom: 32px;
  }
  &__title {
    margin-bottom: 12px;
  }
}