.cle-simple-text-header {
  background-color: $color-light-blue;
  height: 500px;
  position: relative;
  &__subtitle {
    padding-bottom: 25px;
    span {
      display: inline-block;
      padding: 10px 15px;
      background-color: #fff;
      border-radius: 10px;
    }
  }
  &__btn-cont {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  &__filters-search {
    width: 100%;
    display: flex;
    position: relative;
    &-input {
      height: 50px;
      border-radius: 10px;
      border: 1px solid #1464ff;
      font-weight: 500;
      background-color: #fff;
      color: #0a1e46;
      padding: 0 50px 0 22px;
      width: 100%;
      caret-color: #0a1e46;
    }
    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 74px;
      height: 100%;
      border: 0;
      background-color: transparent;
      img {
        position: absolute;
        top: calc( 50% - 15px);
        right: 20px;
      }
    }
  }
  .cle-decor-circle-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 991px) {
      max-width: 200px;
    }
    @media (max-width: 767px) {
      max-width: 180px;
    }
  }
  .cle-decor-circle-2 {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 991px) {
      max-width: 180px;
    }
    @media (max-width: 767px) {
      max-width: 160px;
    }
  }
  .container {
    height: 100%;
    display: grid;
    align-items: center;
  }
  &__wrap {
    width: 100%;
    @media (max-width: 991px) {
     text-align: center;
    }
    &-data {
      font-family: $font-family-messina;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    &-category {
      font-family: $font-family-messina;
      font-weight: 600;
      padding: 10px 15px;
      background-color: $color-white;
      border-radius: 10px;
      width: max-content;
      margin: 0 auto 20px;
    }
  }
  &__text {
    height: 100%;
    display: grid;
    align-items: center;
  }
  &__description {
    @extend %text-18;
    font-family: $font-family-messina;
    font-weight: 500;
  }
  &__title {
    line-height: 108%;
    margin-bottom: 19px;
  }
  &__categories {
    max-width: 900px;
    width: 100%;
    margin: auto;
    height: 72px;
    display: flex;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 10px rgba(20,100,255,.1);
    background-color: #fff;
    transform: translate(0px, -50%);
    @media (max-width: 767px) {
      height: auto;
      display: block;
    }
    &-cont {
      @media (max-width: 991px) {
        padding: 0 30px;
      }
      @media (max-width: 767px) {
        margin-top: -50px;
      }
    }
    &-link {
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.4s;
      @media (max-width: 767px) {
        padding: 5px 0;
      }
      &:hover,
      &:focus,
      &:active {
        a {
          opacity: 1;
          text-decoration: none;
        }
      }
      a {
        font-size: rem(20);
        color: $color-true-black;
        opacity: 0.35;
        transition: all 0.4s;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        height: 100%;
        width: 1px;
        background-color: rgba(0,0,0,.1);
      }
    }
  }
  &__socials-links {
    margin: 0;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    column-gap: 11px;
  }
}