.cle-simple-section {
  background-color: $color-blue;
  position: relative;
  &__text {
    color: $color-white;
  }
  &__wrap {
    height: 302px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .element-1 {
    position: absolute;
    bottom: -125px;
    right: 0;
    overflow: hidden;
    width: 492px;
    height: auto;
    @media (max-width: 991px) {
      bottom: -55px;
      max-width: 300px;
    }
    @media (max-width: 767px) {
      bottom: -55px;
    }
  }
}