.cle-solutions-section {
  &__title {
    text-align: center;
  }
  &__cards {
    .row {
      @media screen and (max-width: 767px) {
        row-gap: 30px;
      }
    }
  }
  &__card {
    text-align: center;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: $box-shadow-second;
    min-height: 416px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cle-btn {
      @media screen and (min-width: 991px) and (max-width: 1200px) {
        padding: 13px 15px;
      }
    }
    &-title {
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $color-dark-blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-description {
      font-family: $font-family-messina;
      font-weight: 500;
      line-height: 188%;
    }
    &-price_information {
      margin-bottom: 2px;
    }
  }
}