.cle-special-guest-section {
  background-color: $color-light-blue;
  position: relative;
  &__title {
    text-align: center;
  }
  &__cards {
    .row {
      justify-content: center;
      row-gap: 30px;
      }
  }
  &__card {
    box-shadow: $box-shadow-second;
    border-radius: 20px;
    &:hover {
      .cle-btn {
        opacity: 1;
      }
    }
    .cle-btn {
      padding-left: 0;
      opacity: 0;
    }
    &-description {
      margin-bottom: 0;
    }
    &-text {
      padding: 34px 22px 0;
      height: 182px;
      background-color: $color-white;
      border-radius: 0 0 20px 20px;
    }
    &-img {
      img {
        height: 218px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 100%;
      }
    }
  }
}