.cle-subscribe {
  background-color: $color-blue;
  &__info {
    justify-content: center;
    display: flex;
    max-height: 52px;
    max-width: 659px;
    margin: auto;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      row-gap: 40px;
      max-height: 114px;
      display: block;
    }
    .gform_fields {
      align-items: center;
      max-width: 626px;
    }
    .gform-button {
      background-color: #fff;
      color: #1464ff;
      transition: all .4s;
      border: 1.5px solid #1464ff;
      padding: 13px 24px 13px 32px;
      border-radius: 10px;
      font-family: $font-family-messina;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      min-width: 176px!important;
      justify-content: left;
      svg {
        transition: all .4s;
        margin-left: 13px;
        width: 20px;
        display: inherit;
        text-align: left;

        path {
          fill: $color-blue;
        }
      }
      &:hover {
        text-decoration: none;
        outline: 0;
        background-color: #edf5ff;
        color: #004ee4;
        svg {
          transition: all .4s;
          width: 28px;
        }
      }
    }
    .ginput_container_email {
      input {
        background-color: $color-blue;
        border: 2px solid $color-white !important;
        border-radius: 10px !important;
        height: 46px !important;
        padding: 0 26px!important;
        caret-color: $color-white;
        color: $color-white !important;
        font-family: $font-family-messina !important;
        font-weight: 600 !important;

        &::placeholder {
          color: $color-white;
          font-weight: 500;
          @extend %text-16;
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-left: 0;
        }
      }
    }

  }
  &__title {
    color: $color-white;
    text-align: center;
    margin-bottom: 43px;
    @media (max-width: 767px) {
      margin-bottom: 27px;
    }
  }
  &__wrap {
    padding: 100px 0;
    @media (max-width: 767px) {
      padding: 70px 0;
    }
  }
  //&__button {
  //  width: 186px;
  //  font-weight: 600;
  //  border: none;
  //  border-radius: 10px;
  //  @extend %text-16;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  height: 46px;
  //  span {
  //    align-items: center;
  //    display: flex;
  //    img {
  //      margin-left: 15px;
  //    }
  //  }
  //}
}

.gform_wrapper.gravity-theme  {
  .gform_validation_errors {
    display: none!important;
  }
  .gfield_validation_message, .gform_wrapper.gravity-theme .validation_message {
    display: none!important;
  }
}
.gform_confirmation_message_1 {
  color: $color-white!important;
}