.cle-tabs-with-text {
    padding: 150px 0;
    background: $color-light-blue;
    @media (max-width: 991px) {
        padding: 80px 0;
    }

    &__container {
        max-width: 900px;
    }

    &__tabs {
        margin-bottom: 100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 10px 20px rgba(10, 30, 70, 0.1);
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
        @media (max-width: 991px) {
            margin-bottom: 80px;
        }
    }

    &__tab {
        flex: 1 1 auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        color: rgba($color-true-black, .35);
        font-size: 20px;
        line-height: 30px;
        cursor: pointer;
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
        }

        &:nth-child(n+2) {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        &_active {
            color: $color-true-black;
        }
    }


    &__item {
        display: none;

        &_active {
            display: block;
        }
    }

    &__textual {
        margin-bottom: 40px;
        font-family: $font-family-messina;
        font-weight: 500;
        font-size: 18px;
        color: $color-dark-blue;
        line-height: 30px;

        & > p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}