.cle-tabs-with-content-section {
  position: relative;
  
  &__title {
    text-align: center;
  }

  &__categories {
    width: 100%;
    height: 72px;
    display: flex;
    border-radius: 20px 20px 0 0;
    box-shadow: $box-shadow;
    position: relative;
    background-color: $color-white;
    overflow: hidden;
    button {
      width: inherit;
      height: 100%;
      border: none;
      background-color: $color-white;
      color: $color-true-black;
      font-size: rem(20);
      position: relative;
      opacity: 0.35;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &.active {
        opacity: 1;
      }
    }
  }

  &__main {
    &-media {
      max-width: 500px;
      @media (max-width: 767px) {
        max-width: initial;
      }

      .play-icon {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
        transition: all .4s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      img {
        height: 282px;
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
      }
    }

    &-content {
      max-width: 414px;
      height: 100%;
      display: flex;
      align-items: center;
      &-description {
        font-family: $font-family-messina;
        font-weight: 500;
        @extend %text-18;
      }
      @media (max-width: 767px) {
        max-width: fit-content;
      }
    }
  }

  &__tab {
    display: none;
    .cle-faq__accordion {
      margin-top: 60px;
    }
    &.active {
      display: block;
    }
  }

  &__wrap {
    .cle-btn {
      margin: auto;
      display: block;
    }
  }

  &__btn-count {
    display: flex;

    .cle-btn {
      margin: auto;
      display: flex;
    }
  }

  &__top {
    max-width: 1000px;
  }

  &__description {
    font-family: $font-family-messina;
    font-weight: 500;
    text-align: center;
  }
}