.cle-testimonial-slider {
  $ts: &;

  background-color: $color-light-blue;

  .swiper {
    &-slide {
      opacity: 0;
      pointer-events: none;
      transition: all .4s;

      &-active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  
  &__main-title {
    text-align: center;
    padding-top: 100px!important;
    @media (max-width: 767px) {
      padding-top: 50px!important;
    }
  }
  &__container {
    margin: 0 auto;
    max-width: 1920px;
  }

  &__wrapper {
    position: relative;
    @media (max-width: 767px) {
      padding-right: 30px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 84px 110px 84px 0;
    @media (max-width: 767px) {
      flex-direction: column;
      row-gap: 28px;
      padding: 63px 30px 65px;
    }
  }

  &__start {
    flex-shrink: 0;
  }

  &__img-quote {
    display: block;
    margin-right: 63px;
    flex-shrink: 0;
    width: 106px;
    height: auto;
    @media (max-width: 767px) {
      margin-right: 0;
      width: 75px;
    }
  }

  &__img-shape {
    display: block;
    margin-right: 150px;
    max-width: 268px;
    height: auto;
    @media (max-width: 991px) {
      min-width: unset;
      width: 200px;
      margin-right: 75px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
      width: 100px;
    }
  }

  &__item {
    overflow: hidden;

    &-container {
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background-color: $color-white;
        border-radius: 0 20px 20px 0;
        box-shadow: 0px 10px 20px rgba(10, 30, 70, 0.1);
      }
    }
  }

  &__top {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $color-blue;
    @media (max-width: 767px) {
      margin-bottom: 40px;
      padding-bottom: 36px;
    }
  }

  &__quote {
    margin: 0;
    @media (min-width: 992px) {
      font-size: rem(53);
      line-height: 1.2;
    }
  }

  &__description {
    margin-top: 16px;
    font-size: rem(18);
    line-height: 1.7;
    @media (max-width: 767px) {
      font-size: rem(16);
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__btns {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: rem(26) rem(28);
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-poster {
      flex-shrink: 0;
      width: 110px;
      height: 110px;
      @media (max-width: 767px) {
        width: 100px;
        height: 100px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask: url("../../assets/img/author-img-mask.svg");
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }

    &-name {
      font-family: $font-family-messina;
      font-weight: 600;
      font-size: rem(28);
      line-height: 1.1;
      @media (max-width: 767px) {
        font-size: rem(22);
        line-height: rem(24);
      }
    }

    &-position {
      font-family: $font-family-messina;
      font-weight: 500;
      font-size: rem(18);
      line-height: 1;
      @media (max-width: 767px) {
        font-size: rem(16);
      }
    }
  }

  &__navigation {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__prev,
  &__next {
    width: 52px;
    height: auto;
    cursor: pointer;
    transition: all .4s;

    circle {
      fill: $color-light-blue;
      transition: all .4s;
    }

    &.js-arrow-disabled {
      cursor: default;

      circle {
        fill: transparent;
      }
    }
  }

  &__next {
    transform-origin: center;
    transform: rotate(-180deg);
  }

  &__poster {
    margin-top: -280px;
    width: 100%;
    height: 790px;
    @media (max-width: 575px) {
      margin-top: -191px;
      height: 453px;
    }
  }

  &__big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @media (min-width: 1600px) {
      border-radius: 0 20px 20px 0;
    }
  }

  &_version-2 {
    #{$ts} {
      &__quote {
        @media (min-width: 992px) {
          font-size: rem(40);
        }
      }

      &__top {
        margin-bottom: 32px;
        padding-bottom: 32px;
      }
    }
  }
}