.cle-text-and-media {
  &__wrap {
    text-align: center;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__description {
    margin-bottom: 100px;
    font-weight: 500;
  }
  &__image {
    position: relative;
    @media (hover: hover) {
      &:hover {
        .play-icon {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
    .play-icon {
      position: absolute;
      top: calc(50% - 80px);
      left: calc(50% - 80px);
      width: 160px;
      height: 160px;
      transition: all .4s;
    }
  }

  &__link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}