.cle-text-with-counter {
  position: relative;
  padding: 110px 0;
  background-color: $color-dark-blue;
  color: $white;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-bottom: 210px;
  }

  &__title {
    margin: 0;
    color: $color-white;
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__end {
    padding-top: 77px;
    position: relative;
    min-width: 320px;
    text-align: center;
    @media (max-width: 374px) {
      min-width: 250px;
    }
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__circle {
    width: 320px;
    height: 320px;
    @media (max-width: 767px) {
      width: 250px;
      height: 250px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $color-dark-blue;
    }

    &-top-half {
      width: 100%;
      height: 50%;
      border-top-left-radius: 167px;  /* 160px of height + 7px of border */
      border-top-right-radius: 167px; /* 160px of height + 7px of border */
      border: 7px solid $color-white;
      border-bottom: 0;
    }

    &_rotetable {
      position: absolute;
      top: 0;
      left: 0;
      border-color: transparent;

      &::before {
        display: none;
      }
    }

    &-ball {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-40%, -50%);
      width: 30px;
      height: 30px;
      background-color: $color-white;
      border-radius: 50%;
    }
  }

  &__percentage {
    margin-bottom: 51px;
    font-family: $font-family-arizona;
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    @media (max-width: 991px) {
      font-size: 52px;
    }
    @media (max-width: 767px) {
        font-size: 52px;
    }
  }

  &__text {
    margin-bottom: 12px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__subtext {
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }

  &__galaxy {
    position: absolute;
    bottom: -115px;
    left: -179px;

    svg {
      width: 492px;
      height: auto;
    }
  }
}