.cle-trust-content-section {
  $tcs: &;

  position: relative;
  padding: 150px 0;
  @media (max-width: 767px) {
    padding: 75px 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 470px;
    background-color: $color-light-blue;
    border-radius: 260px 260px 0px 0px;
  }

  .container {
    @media (min-width: 1400px) and (max-width: 1599px) {
      max-width: 1226px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__header {
    margin-bottom: 79px;
    color: $color-dark-blue;
    text-align: center;
  }

  &__title {
    margin: 0 auto;
    max-width: 800px;
  }

  &__description {
    margin: 24px auto 0;
    max-width: 556px;
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 34px;
    @media (max-width: 991px) {
      flex-direction: column;
      justify-content: flex-start;
    }
    @media (max-width: 767px) {
      row-gap: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 17px);
    min-height: 465px;
    border: 1.5px solid $color-light-blue;
    box-shadow: 0px 10px 20px rgba(10, 30, 70, 0.1);
    border-radius: 20px;
    background-color: $color-white;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 100%;
      min-height: unset;
    }

    &:hover {
      #{$tcs} {
        &__label {
          height: 100%;
          transition: all .4s;
        }

        &__link-text {
          opacity: 1;
          transition: all .4s .4s;
        }
      }
    }

    &:nth-child(odd) {
      #{$tcs}__label {
        background-color: $color-green;
      }
    }

    &:nth-child(even) {
      #{$tcs}__label {
        background-color: $color-orange;
      }
    }
  }

  &__textual {
    padding: 79px 62px 0;
    @media (max-width: 767px) {
      padding: 45px 30px 0;
    }
  }

  &__name {
    @extend %h4;
    margin-bottom: 13px;
    text-align: center;
    @media (max-width: 767px) {
      margin-bottom: 16px;
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__text {
    font-family: $font-family-messina;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__icons {
    margin-top: 36px;
    margin-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 991px) {
      margin-bottom: 52px;
    }
    @media (max-width: 767px) {
      margin-top: 34px;
    }

    &_three-in-row {
      margin-top: 60px;
      @media (max-width: 991px) {
        margin-bottom: 19px;
      }

      #{$tcs} {
        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33.333%;
          @media (min-width: 1200px) {
            &:first-child {
              justify-content: flex-start;
            }
  
            &:nth-child(3n+4) {
              justify-content: flex-start;
            }

            &:nth-child(3n) {
              justify-content: flex-end;
            }
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            width: 48%;

            &:nth-child(odd) {
              justify-content: flex-start;
            }

            &:nth-child(even) {
              justify-content: flex-end;
            }
          }
          @media (max-width: 991px) {
            &:first-child {
              justify-content: flex-start;
            }
  
            &:nth-child(3n+4) {
              justify-content: flex-start;
            }

            &:nth-child(3n) {
              justify-content: flex-end;
            }
          }
          @media (max-width: 767px) {
            width: 48%;
  
            &:nth-child(odd) {
              justify-content: flex-start;
            }
  
            &:nth-child(even) {
              justify-content: flex-end;
            }
          }
        }

        &__img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__img {
    width: 102px;
    height: auto;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    font-family: $font-family-messina;
    font-weight: 600;
    font-size: 16px;
    color: $color-dark-blue;
    @media (max-width: 991px) {
      padding: 19px;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
        color: $color-dark-blue;
      }
    }

    &:focus {
      text-decoration: none;
      color: $color-dark-blue;
    }

    &-text {
      position: relative;
      z-index: 1;
      display: flex;
      column-gap: 10px;
      align-items: center;
      opacity: 0;
      transition: all .4s;
      @media (max-width: 991px) {
        opacity: 1;
      }
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
    transition: all .4s .4s;
    @media (max-width: 991px) {
      height: 100%;
    }
  }
}