@import "variables";

%h {
    clear: both;
    margin: 0 0 15px;
    line-height: 1.25;
    font-weight: 400;
    color: $color-dark-blue;
    &:first-child {
        padding-top: 0;
    }
}
p {
    color: $color-dark-blue;

}

%h1 {
    font-size: rem(65);
    line-height: 135%;
    @media (max-width: 991px) {
        font-size: rem(52);
    }
    @media (max-width: 767px) {
        font-size: rem(36);
    }
}
%h2 {
    font-size: rem(53);
    line-height: 120%;
    @media (max-width: 991px) {
        font-size: rem(42);
    }
    @media (max-width: 767px) {
        font-size: rem(28);
    }
}
%h3 {
    font-size: rem(40);
    line-height: 113%;
    @media (max-width: 767px) {
        font-size: rem(28);
    }
}
%h4 {
    font-size: rem(28);
}
%h5 {
    font-size: rem(20);
    line-height: 150%;
}
%h6 {
    font-size: rem(24);
    @media (max-width: 991px) {
        font-size: rem(16);
    }
}
%text-18 {
    font-size: rem(18);
    line-height: 30px;
    @media (max-width: 767px) {
        font-size: rem(16);
    }
}
%text-16 {
    font-size: rem(16);
    line-height: 172%;
}

%text-16-v2 {
    font-size: rem(16);
    line-height: 150%;
}

%text-14 {
    font-size: rem(14);
    line-height: 150%;
}
%text-14-v2 {
    font-size: rem(14);
    line-height: 175%;
}

%text-70 {
    font-size: rem(70);
    line-height: 100%;
    @media (max-width: 1200px) {
        font-size: rem(56);
    }
    @media (max-width: 991px) {
        font-size: rem(40);
    }
    @media (max-width: 767px) {
        font-size: rem(43);
    }
}

