@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-Bold.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Bold.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-BoldItalic.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-BoldItalic.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-BoldItalic.woff') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-Light.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Light.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Light.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-LightItalic.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-LightItalic.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-LightItalic.woff') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-Medium.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Medium.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-MediumItalic.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-MediumItalic.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-MediumItalic.woff') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-Regular.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Regular.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-RegularItalic.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-RegularItalic.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-RegularItalic.woff') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-Thin.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Thin.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Thin.woff') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ABCArizonaMix';
  src: url('../../assets/fonts/ABCArizonaMix-ThinItalic.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-ThinItalic.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-ThinItalic.woff') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../../assets/fonts/ABCArizonaMix-Bold.otf') format('opentype'),
  url('../../assets/fonts/ABCArizonaMix-Bold.woff') format('woff'),
  url('../../assets/fonts/ABCArizonaMix-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../../assets/fonts/MessinaSans-Regular.otf') format('opentype'),
  url('../../assets/fonts/MessinaSans-Regular.woff') format('woff'),
  url('../../assets/fonts/MessinaSans-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../../assets/fonts/MessinaSans-RegularItalic.otf') format('opentype'),
  url('../../assets/fonts/MessinaSans-RegularItalic.woff') format('woff'),
  url('../../assets/fonts/MessinaSans-RegularItalic.woff') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../../assets/fonts/MessinaSans-SemiBold.otf') format('opentype'),
  url('../../assets/fonts/MessinaSans-SemiBold.woff') format('woff'),
  url('../../assets/fonts/MessinaSans-SemiBold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../../assets/fonts/MessinaSans-Bold.otf') format('opentype'),
  url('../../assets/fonts/MessinaSans-Bold.woff') format('woff'),
  url('../../assets/fonts/MessinaSans-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
}