@import "variables";

.cle-footer {
  .container {
    max-width: 1323px;
    width: 100%;
    @media (min-width: 1600px) {
      max-width: 1419px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  &__logo {
    max-width: 191px;
    margin-bottom: 50px;
  }
  &__socials {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      display: none;
    }
    &-links {
      display: flex;
      list-style-type: none;
      margin: 0;
      li {
        margin-right: 11px;
      }
    }
    &-mobile {
      margin-left: -15px;
      @media (min-width: 767px) {
        display: none;

      }
    }
  }
  &__menu {
    @media (max-width: 991px) {
      margin: 0 15px;
    }
    ul {
      margin: 0;
      list-style-type: none;
      row-gap: 12px;
    }
    &-wrap {
      width: 20%;
      @media (max-width: 767px) {
        width: 50%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        position: relative;
        &:after {
          content: '';
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: $color-medium-blue;
          height: 1px;
          width: 100%;
          overflow: hidden!important;
        }
      }
    }
    &-top {
      width: 100%;
      display: flex;
      margin-bottom: 75px;
      @media (max-width: 767px) {
        display: contents;
      }
    }
    &-bottom {
      width: 100%;
      display: flex;
      margin-bottom: 67px;
      @media (max-width: 767px) {
        display: contents;
        .cle-footer__menu-wrap {
          &:last-child {
            &:after {
              width: 200%;
              overflow: hidden!important;
            }
          }
        }
      }
    }
    &-list {
      display: inline-grid;
      &-title {
        font-weight: normal;
        margin-bottom: 7px;
        font-family: $font-family-arizona;
      }
      a {
        color: $color-dark-blue;
        @extend %text-14-v2;
        font-family: $font-family-messina;
        font-weight: 500;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  &__copyright {
    background-color: $color-light-blue;
    padding: 52px 0 54px;
    @media (max-width: 767px) {
      padding: 46px 0;
    }
    &-copy {
      @media (max-width: 1200px) {
        margin-bottom: 10px;
      }
      @media (max-width: 575px) {
        margin-bottom: 33px;
      }
    }
    &-wrap {
      display: flex;
      //max-width: 1200px;
      margin: auto;
      align-items: center;
      @extend %text-14;
      color: $color-dark-blue;
      justify-content: space-between;
      padding: 0 15px;
      font-family: $font-family-messina;
      font-weight: 500;
      @media (max-width: 1200px) {
        display: block;
      }
      @media (max-width: 767px) {
        padding: 0 30px;
      }
    }
    &-main {
      display: flex;
      @media (max-width: 1200px) {
        margin-bottom: 10px;
      }
      @media (max-width: 991px) {
        display: block;
      }
      @media (max-width: 575px) {
        margin-bottom: 47px;
      }
      &-text {
        margin: 0 5px 0 0;
        display: flex;
        align-items: center;
      }
      &-link {
        color: $color-dark-blue;
        @extend %text-14-v2;
        font-family: $font-family-messina;
        font-weight: 500;
        position: relative;
        padding: 0 5px;
        display: inline-block;
        &:before {
          content: "";
          position: absolute;
          height: 15px;
          width: 1px;
          background-color: #0a1e46;
          left: 0;
          bottom: 50%;
          transform: translateY(50%);
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  &__wrap {
    padding: 80px 0 67px;
    @media (max-width: 767px) {
      padding: 76px 0 46px;
    }
  }
}

