@import "variables";

.cle-btn {
  padding: 13px 24px 13px 32px;
  border-radius: 10px;
  font-family: $font-family-messina;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  @extend %text-16-v2;
  &:hover {
    .icon {
      svg {
        transition: all 0.4s;
        width: 28px;
      }
    }
  }
  .icon {
    margin-left: 13px;
    width: 28px;
    display: inherit;
    text-align: left;
  }
  svg {
    transition: all 0.4s;
    width: 20px;
  }
  &_primary {
    color: $color-white;
    background-color: $color-blue;
    transition: all 0.4s;
    border: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: none;
      background-color: $color-second-blue;
      color: $color-white;
    }
  }
  &_secondary {
    background-color: $color-white;
    color: $color-blue;
    transition: all 0.4s;
    border: 1.5px solid $color-blue;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: none;
      background-color: $color-light-blue;
      color: $color-second-blue;
    }
  }
  &_third {
    color: $color-blue;
    transition: all 0.4s;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: none;
      color: $color-second-blue;
      svg {
        margin-left: 20px;
      }
    }
    svg {
      transition: all 0.4s;
      width: 30px;
      margin-left: 10px;
    }
    &-white {
      color: $color-white;
      transition: all 0.4s;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        outline: none;
        color: $color-light-blue;
        svg {
          margin-left: 20px;
        }
      }
      svg {
        transition: all 0.4s;
        width: 30px;
        margin-left: 10px;
      }
    }
    &-flip {
      display: flex;
      transition: all 0.4s;
      &:hover {
        text-decoration: none;
        transition: all 0.4s;
        svg {
          margin-right: 20px;
          circle {
            fill: $color-white;
          }
        }
      }
      span {
        order: 2;
        color: $color-blue;
      }
      svg {
        transform: rotate(-180deg);
        transition: all .4s;
        width: 30px;
        margin-right: 10px;
        circle {
          fill: transparent;
          transition: all 0.4s;
        }
      }
    }
  }
  &_blue {
    color: $color-white;
    background: $color-blue;
    font-family: $font-family-messina;
    font-style: normal;
    font-size: 20px;
    height: 44px;
    position: relative;
    border-radius: 0;
    padding: 13px 23px;
    transition: all 0.4s;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: none;
      background-color: $color-dark-blue;
      color: $color-white;
      &:after {
        border-color: transparent transparent transparent $color-dark-blue;
      }
    }
    &:after {
      transition: all 0.4s;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 44px 0 0 10px;
      border-color: transparent transparent transparent $color-blue;
      position: absolute;
      left: 100%;
      bottom: 0;
    }
  }
}


.cle-login {
  @extend %text-16;
  margin-left: 35px;
  @media (max-width: 1200px) {
    margin-left: 10px;
  }
  @media (max-width: 575px) {
    margin-left: 0;
  }
  img {
    margin-right: 10px;
  }
}
.cle-section-element {
  margin: 150px 0;
  @media (max-width: 991px) {
    margin: 80px 0;
  }
}

.cle-section-element-pad {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 80px 0;
  }
}

.cle-section-element-pad-small {
  padding: 130px 0;
  @media (max-width: 991px) {
    padding: 65px 0;
  }
}

.cle-accordion {
  padding: 19px 0 25px;
  border-bottom: 1px solid $color-blue;
  &.active .cle-accordion__head-btn span {
    &:nth-child(2) {
      transform: rotate(0);
      opacity: 0;
    }
  }
  &__head {
    font-size: rem(28);
    font-weight: 400;
    color: $color-dark-blue;
    margin-bottom: 0;
    transition: all 0.4s;
    position: relative;
    @media (max-width: 991px) {
      font-size: rem(24);
    }
    @media (max-width: 767px) {
      font-size: rem(22);
      margin-right: 50px;
    }
    &:hover {
      cursor: pointer;
    }
    &-wrap {
      position: relative;
    }
    &-btn {
      position: absolute;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $color-blue;
      top: 0;
      right: 0;
      margin: auto;
      transition: all 0.4s;
      @media (max-width: 767px) {
        transform: translateY(50%);
      }
      &:hover {
        background-color: $color-second-blue;
      }
      @media (max-width: 575px) {
        width: 30px;
        height: 30px;
      }
      span {
        display: block;
        height: 0;
        width: 13px;
        border-bottom: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all .4s;
        opacity: 1;

        @media (max-width: 575px) {
          width: 10px;
        }

        &:nth-child(1) {
        }

        &:nth-child(2) {
          transform: rotate(90deg);
        }
      }
    }
  }
  &__body {
    margin: 19px 50px 12px 0;
    @extend %text-18;
    display: none;
  }
}
.mt-75 {
  margin-top: 75px;
  @media (max-width: 991px) {
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}
.mb-75 {
  margin-bottom: 75px;
  @media (max-width: 991px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.mb-80 {
  margin-bottom: 80px;
  @media (max-width: 991px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.mb-50 {
  margin-bottom: 50px;
}
.cle-contact-form {
  display: grid;
  max-width: 500px;
  margin: auto;

  &__description {
    text-align: center;
    margin-bottom: 24px;
    @extend %text-18;
    font-family: $font-family-messina;
    font-weight: 500;
  }
  &__wrap {
    border: 1.5px solid $color-light-blue;
    box-shadow: $box-shadow-second;
    padding: 50px 50px 74px;
    border-radius: 10px;
    background-color: $color-white;
  }
  &__title {
    text-align: center;
    margin-bottom: 24px;
    color: $color-black;
  }
  &__label {
    margin-bottom: 8px;
    font-family: $font-family-messina;
    font-weight: 500;
    color: $color-dark-blue;
  }
  &__field {
    border-radius: 4px;
    height: 46px;
    padding: 0 8px;
    border: 1px solid $box-blue;
    font-weight: 500;
    color: $color-black;
    width: 100%;
    font-family: $font-family-messina;
    &:focus {
      border-color: $color-blue;
    }
  }
  select {
    & + .select2 {
      width: 100% !important;
      height: 46px;
      font-family: $font-family-messina;
      font-weight: 500;
      font-size: rem(16);
      color: $color-dark-blue;
      line-height: rem(30);
      outline: none;

      &.select2-container--focus {
        .select2-selection {
          border: 1px solid $color-blue;
        }
      }

      &.select2-container--open {
        .select2-selection__arrow {
          transform: translateY(-50%) rotate(-180deg);
          transform-origin: center;
        }
      }

      .selection {
        display: block;
        width: 100%;
        height: 100%;
      }

      .select2-selection {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid $box-blue;
        outline: none;

        &__arrow {
          top: 50%;
          right: 15px;
          transform: translateY(-50%) rotate(0);
          transition: all .4s;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../img/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 18px;
            height: 11px;
          }

          b {
            display: none;
          }
        }

        &__rendered {
          padding-right: 35px;
          color: $color-dark-blue;
        }
      }

      & + .select2-container {
        font-family: $font-family-messina;
        font-weight: 500;
        font-size: rem(16);
        color: $color-dark-blue;
        line-height: rem(30);

        .select2-dropdown {
          padding-top: 8px;
          border: 0;
        }

        .select2-results {
          box-shadow: 0px 10px 20px rgba($color-dark-blue, 0.1);

          &__option {
            padding-right: 24px;
            padding-left: 24px;

            &--highlighted {
              background-color: $box-blue;
              color: $color-dark-blue;
            }

            &--selected {
              background-color: $box-blue;
              color: $color-dark-blue;
            }
          }
        }
      }
    }

    &.js-multiple-select-with-radios + .select2 {
      & + .select2-container {
        .select2-results {
          &__option {
            position: relative;
            padding-right: 24px;
            padding-left: 48px;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 24px;
              transform: translateY(-50%);
              width: 12px;
              height: 12px;
              background-image: url('../img/select-radio.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }

            &--selected {
              background-color: transparent;

              &::before {
                background-image: url('../img/select-radio-checked.svg');
              }
            }
          }
        }
      }
    }

    &[multiple] + .select2 {
      .select2-search {
        display: none;
      }

      .select2-selection {
        display: block;
        overflow-y: auto;

        &__choice {
          background-color: $box-blue;
          border-color: $box-blue;

          &__remove {
            border-right-color: $color-blue;

            &:hover {
              background-color: $color-light-blue;
            }

            span {
              color: $color-blue;
              cursor: pointer;
            }
          }
        }

        ul {
          margin: 0;
        }
      }
    }

    &[multiple].js-multiple-select-with-checkboxes + .select2 {
      & + .select2-container {
        .select2-results {
          &__option {
            position: relative;
            padding-right: 24px;
            padding-left: 48px;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 24px;
              transform: translateY(-50%);
              width: 12px;
              height: 12px;
              background-image: url('../img/select-checkbox.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }

            &--selected {
              background-color: transparent;

              &::before {
                background-image: url('../img/select-checkbox-checked.svg');
              }
            }
          }
        }
      }
    }
  }

  &__submit {
    width: 100%;
    height: 50px;
    background-color: $color-blue;
    color: $color-white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    transition: all 0.4s;
    margin-top: 15px;
    font-family: $font-family-messina;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 20px;
      transition: all .4s;
    }
    .icon {
      margin-left: 13px;
      width: 28px;
      display: inherit;
      text-align: left;
    }
    &:hover {
      background-color: $color-second-blue;

      .icon {
        svg {
          transition: all 0.4s;
          width: 28px;
        }
      }
    }
  }
  .row {
    row-gap: 20px;
  }
}
.cle-text-center {
  text-align: center;
  max-width: 870px;
  margin: auto;
}
.cle-decor-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%,-50%);
}
.cle-back-blue {
  background-color: $color-light-blue;
}
.cle-pagination {
  &__list {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 413px;
    margin: auto;
    @media (max-width: 575px) {
      width: 100%;
    }

    .page-numbers {
      border: none;
      background: transparent;
      color: $color-dark-blue;
      font-weight: 500;
      padding: 8px;
      @extend %text-18;
      .prev {
        margin-left: 0;
      }
      &:focus {
        color: $color-blue;
      }
    }

    .current {
      opacity: 0.5;
    }

    .prev {
      margin-right: 40px;
    }

    .next {
      margin-left: 40px;
    }

    .prev,
    .next,
    .button-paginate {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      cursor: pointer;
      text-decoration: none;
      transition: all .4s;
      background: $color-white;
      font-weight: 500;
      color: $color-blue;
      border-radius: 50%;
      border: 2px solid $color-blue;

      &:hover {
        background-color: $color-light-blue;
      }
    }

  }

}
.container-small {
  max-width: 1030px;
  margin: auto;
}
.cle-btn_cont {
  justify-content: center;
  display: flex;
}

.back-blue {
  background-color: $color-blue;
}

.back-dark-blue {
  background-color: $color-dark-blue;
}
.back-light-blue {
  background-color: $color-light-blue;
}
.back-transparent {
  background-color: $color-white;
}




.element-white,
.element-black {
  position: absolute;
  bottom: -115px;
  right: -93px;
  width: 100%;
  height: auto;
  max-width: 470px;
  @media (max-width: 991px) {
    bottom: -65px;
    right: -91px;
    max-width: 283px;
  }
  @media (max-width: 767px) {
    bottom: -54px;
    right: 50%;
    max-width: 305px;
    transform: translate(50%, 0);
  }
}
.cont-600 {
  max-width: 600px;
}
.width-84 {
  max-width: 84%;
  margin: auto;
}
.decor {
  z-index: 10;
}
.decor-none {
  position: relative;
  .decor {
    display: none;
  }
}
.decor-top-right {
  position: relative;
  .decor {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
.decor-top-left {
  position: relative;
  .decor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }
}
.decor-bottom-right {
  position: relative;
  .decor {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
.decor-bottom-left {
  position: relative;
  .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
  }
}

.cle-secondary-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: $font-family-messina;
  font-weight: 600;
  color: $color-blue;
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
  transition: all 0.4s;

  svg {
    circle {
      stroke-width: 1.5px;
      stroke: $color-blue;
      fill: transparent;
      transition: all 0.4s;
    }

    path {
      fill: $color-blue;
      transition: all 0.4s;
    }
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      column-gap: 20px;
      color: $color-second-blue;

      svg {
        circle {
          stroke: $color-second-blue;
        }

        path {
          fill: $color-second-blue;
        }
      }
    }
  }

  &:focus {
    text-decoration: none;
    background-color: transparent;
  }
}

.js-title-with-highlight {
  span {
    text-decoration: none;
    background-image: linear-gradient($color-orange, $color-orange);
    background-position: 0 91%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
  }
}

[start-from-hidden] {
  visibility: hidden;
}

.border1 {
  mask: url("../../assets/img/border1.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  min-height: 480px !important;
  @media (max-width: 767px) {
    min-height: 250px !important;
  }
}
.border2 {
  mask: url("../../assets/img/border2.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
}
.border3 {
  mask: url("../../assets/img/border3.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  min-height: 400px;
}

.none-border {
  min-height: 200px !important;
  border-radius: 20px;
  @media (max-width: 767px) {
    max-width: 210px;
    min-height: 145px !important;
  }
}
.btn-cont {
  width: inherit;
  display: flex;
  justify-content: center;
}

.laptop_dark {
  mask: url("../../assets/img/pattern-laptop-dark.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  min-height: 400px;
}

.border-image {
  mask: url("../../assets/img/border3.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  min-height: 400px;
}

.faq-small-cont {
  max-width: 900px;
  margin: auto;
}



// loader
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ddd;
  border-color: #ddd transparent #ddd transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  a {
    pointer-events: none;
    color: $color-dark-blue;
  }
}

.cle-socials-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  column-gap: 11px;
}
.cle-socials-single-post {
  justify-content: center;
  display: flex;
}

.cle-section-default-element {
  li {
    margin-left: 15px;
  }
  &:nth-child(2) {
    padding-top: 100px;
  }

  &.alignfull {
    width: 100%;
  }

  &.wp-block-heading {
    color: $color-dark-blue;
    line-height: 135%;
  }

  a {
    text-decoration: underline;
    color: $color-dark-blue;
    &:hover {
      text-decoration: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  &.cle-section-default-element {
    max-width: 900px;
    padding: 0 15px;
    width: calc(100% - 40px);
    margin: 0 auto 15px;
  }
}

p.cle-section-default-element,
li.cle-section-default-element {
  @extend %text-18;
  letter-spacing: .2px;
  color: $color-dark-blue;
  line-height: 150%;
  margin-bottom: 20px;
}

p.cle-section-default-element,
table.cle-section-default-element,
ol.cle-section-default-element,
ul.cle-section-default-element,
figure.cle-section-default-element {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  font-family: $font-family-messina;
  font-weight: 500;
  @extend %text-18;
}
ul.cle-section-default-element {
  margin-left: 15px;
}

figure.cle-section-default-element + div.cle-section-default-element {
  margin: 0 auto !important;
  max-width: 800px;
  padding: 0 15px;
}

p.cle-section-default-element {
  margin-bottom: 15px;
}
.cle-content-section {
  padding: 97px 0;
  max-width: 100%;
  margin: auto;
}
.wp-block-image {
  padding: 97px 0;
  img {
    border-radius: 20px;
  }
}
.single {
  .cle-cpt-blocks-section__top-categories {
    display: none;
  }
  .cle-cpt-blocks-section__filters {
    display: none;
  }
}
.single-case-study {
  .cle-content-section {
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-light-blue;
      content: '';
      width: 100%;
      height: 50%;
      z-index: -1;
    }
  }
  .cle-text-and-media {
    .decor {
      display: none;
    }
  }
}
.d-text {
  max-width: 900px;
  margin: auto;
}

.cle-error {
  padding: 90px 0;
  text-align: center;
  &__title {
    padding-top: 20px;
  }
  &__description {
    padding-bottom: 25px;
  }
}
.none-decor-style {
  display: block;
  .cle-image-and-content__image-el {
    display: none;
  }
}
.slider-navigation {
  column-gap: 16px;
  display: flex;
}
.cle-filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 991px) {
    display: block;
  }
  @media (max-width: 575px) {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  &-search {
    width: 55%;
    display: flex;
    position: relative;
    @media (max-width: 991px) {
      width: 100%;
      margin-bottom: 30px;
    }
    &-input {
      height: 50px;
      border-radius: 10px;
      border: 1px solid $color-blue;
      font-weight: 500;
      padding: 0 50px 0 22px;
      background-color: $color-white;
      color: $color-dark-blue;
      width: 100%;
      caret-color: $color-dark-blue;
      font-family: $font-family-messina;
      &::-webkit-search-cancel-button {
        display: none;
      }
      &::placeholder {
        color: #444;
      }
    }
    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 74px;
      height: 100%;
      border: none;
      background-color: transparent;
    }
  }
  &-select-wrap {
    width: 45%;
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
    @media (max-width: 991px) {
      width: 100%;
      margin-left: 0;
    }
    select {
      height: 50px;
      border-radius: 10px;
      border: 1px solid $color-blue;
      font-weight: 500;
      background-color: $color-white;
      color: $color-dark-blue;
      width: 50%;
      padding: 0 18px;
    }
    .select2-container {
      @media (max-width: 991px) {
        width: 50%!important;
      }
    }
    .select2-selection--single {
      border-radius: 10px !important;
      border: 1px solid $color-blue !important;
      box-shadow: none !important;
      height: 50px !important;
      &:before {
        right: 15px !important;
      }
    }
  }
}
.gform_wrapper.gravity-theme {
  .gfield {
    &_label {
      font-family: $font-family-messina;
      font-weight: 500!important;
      color: $color-dark-blue;
    }
    input, select {
      border-radius: 4px;
      height: 46px;
      padding: 0 8px;
      box-shadow: $box-shadow;
      border: 1px solid $box-blue;
      font-weight: 500;
      color: $color-black!important;
      font-family: $font-family-messina;
      &:focus {
        border-color: #1464ff;
        outline: 0;
      }
    }
    textarea {
      border-radius: 4px;
      height: 120px !important;
      padding: 8px!important;
      box-shadow: $box-shadow;
      border: 1px solid $box-blue;
      font-weight: 500;
      color: $color-black!important;
      font-family: $font-family-messina;
      resize: none;
      &:focus {
        border-color: #1464ff;
        outline: 0;
      }
    }
  }
  .gform {
    &_fields {
      grid-row-gap: 32px!important;
      grid-column-gap: 6%!important;
    }
    &_footer {
      button {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: $color-blue;
        color: $color-white;
        font-weight: 600;
        border-radius: 10px;
        border: 0;
        transition: all .4s;
        margin-top: 15px;
        font-family: $font-family-messina;
        align-items: center;
        justify-content: center;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          outline: none;
          background-color: $color-second-blue;
          color: $color-white;
        }
        &:hover {
          svg {
            transition: all 0.4s;
            width: 28px;
          }
        }
        svg {
          transition: all 0.4s;
          width: 20px;
          margin-left: 13px;
          display: inherit;
          text-align: left;
        }
      }
    }
  }
}
.select2-container {
  &--default .select2 {
    &-selection--single {
      border-radius: 4px;
      padding: 0 8px;
      height: 46px;
      box-shadow: $box-shadow;
      border: 1px solid $box-blue;
      font-weight: 500;
      color: $color-black!important;
      font-family: $font-family-messina;
      align-items: center;
      display: flex;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%,-50%);
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 18px;
        height: 11px;
        transition: all 300ms;
      }
      .select2-selection__arrow {
        display: none;
      }
    }
    &-results {
      font-weight: 500;
      font-family: $font-family-messina;
      &__option--highlighted.select2-results__option--selectable {
        background-color: $color-light-blue;
        color: $color-blue-blur;
      }
      .select2-results__options {
        box-shadow: $box-shadow-second;
      }
    }
  }
  &.select2-container--open {
    .select2-selection--single {
      &:before {
        transform: translateY(-50%) translateX(-50%) rotate(-180deg);
        transform-origin: center;
      }
    }
  }
  &--default .select2-results__option--selected {
    background-color: $color-white;
  }
  &--open .select2-dropdown--below {
    border: none;
  }
}
.select2-results__option--selectable {
  padding: 6px 24px;
}

.cle-app-gallery-top {
  width: min(100% - 60px,1387px);
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 50px 0;
}

.app_gallery_btn_back {
  display: flex;
  width: max-content;
  a {
    text-decoration: none;
    padding-left: 0;
  }
}

#page-404 {
  .cle-simple-text-header__description {
    margin-bottom: 40px;
  }
}