@import "variables";

.cle-header {
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    z-index: 9998;
    background-color: $color-white;
    height: math-clamp(86, 92);
    
    .admin-bar & {
        top: 32px;
    }
    
    &__container {
        width: min(100% - 60px, 1387px);
        margin-left: auto;
        margin-right: auto;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    &__col {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: inherit;
    }
    
    &__logo {
        display: block;
        width: math-clamp(109, 145);
        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    &__open-menu {
        height: inherit;
        width: 23px;
        position: relative;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        align-self: stretch;
        margin-right: 15px;
        
        span {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background-color: $color-blue;
            transition: background 0s .3s;
            
            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-blue;
                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0s;
            }
            
            &:before {
                transition-property: top, transform;
                top: -8px;
            }
            
            &:after {
                transition-property: bottom, transform;
                bottom: -8px;
            }
        }
        
        &.active {
            span {
                background-color: transparent;
                
                &:before,
                &:after {
                    transition-delay: 0s, 0.3s;
                }
                
                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }
                
                &:after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
        
        @media (min-width: 1200px) {
            display: none;
        }
    }
    
    &__login {
        display: flex;
        align-items: center;
        gap: math-clamp(6, 16, 576, 1200);
        height: math-clamp(40, 50, 576, 1200);
        padding: 0 math-clamp(14, 28, 576, 1200);
        background-color: rgba($color-blue, 1);
        border: 1px solid $color-blue;
        border-radius: 10px;
        font-weight: 600;
        font-size: rem(16);
        line-height: 24px;
        font-family: $font-family-messina;
        color: $color-white;
        transition: all .4s;
        
        &-desktop {
            @media (max-width: 1199px) {
                display: none;
            }
        }
        
        &-mobile {
            @media (min-width: 1200px) {
                display: none;
            }
        }
        
        circle,
        path {
            transition: all .4s;
        }
        
        &:hover,
        &:focus {
            text-decoration: none;
        }
        
        @media (hover: hover) {
            &:hover {
                background-color: rgba($color-blue, 0);
                color: $color-blue;
                
                circle,
                path {
                    stroke: $color-blue;
                }
            }
        }
    }
    
    &__menu {
        align-self: stretch;
        padding: 0;
        margin: 0 math-clamp(20, 35) 0 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: math-clamp(20, 42);
        
        @media (max-width: 1199px) {
            display: none;
        }
        
        a {
            transition: all .4s;
            
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        
        .sub-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        > li {
            &.menu-item-left-space {
                @media (min-width: 1300px) {
                    margin-left: math-clamp(30, 78);
                }
            }
            
            &.menu-item-has-children {
                > a {
                    span {
                        &:before {
                            right: -18px;
                        }
                    }
                }
                
                &:hover {
                    > a {
                        span {
                            &:before {
                                //left: -18px;
                                width: calc(100% + 18px);
                            }
                        }
                    }
                }
            }
            
            > a {
                display: flex;
                align-items: center;
                gap: 8px;
                height: 100%;
                font-weight: 600;
                font-size: rem(16);
                line-height: 24px;
                font-family: $font-family-messina;
                color: $color-dark-blue;
                
                svg {
                    display: block;
                    transition: all .4s;
                }
                
                span {
                    display: block;
                    position: relative;
                    
                    &:before {
                        content: '';
                        position: absolute;
                        top: calc(100% + 1px);
                        left: auto;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: $color-orange;
                        transition: all .5s;
                    }
                }
            }
            
            &:hover {
                > a {
                    span {
                        &:before {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                    
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            
            &.menu-item-has-children.menu-item_default {
                position: relative;
                
                > .sub-menu {
                    background: $color-white;
                    border: 1px solid $color-light-blue;
                    box-shadow: 0 10px 20px rgba(10, 30, 70, 0.1);
                    border-radius: 10px;
                    position: absolute;
                    left: 50%;
                    transition: all .5s;
                    transform-origin: 50% 0;
                    transform: translateX(-50%) scaleY(0);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    padding: math-clamp(20, 40) math-clamp(30, 45);
                    
                    li {
                        margin-bottom: 15px;
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                        a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 30px;
                            color: $color-dark-blue;
                            font-family: $font-family-messina;
                            white-space: nowrap;
                            
                            &:hover {
                                color: $color-blue;
                            }
                        }
                    }
                }
                
                &:hover {
                    > .sub-menu {
                        transform: translateX(-50%) scaleY(1);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: initial;
                    }
                }
            }
            
            .sub-menu {
            
            }
        }
        
        li {
            &.menu-item_mega-menu {
                > .sub-menu {
                    background: $color-white;
                    border: 1px solid $color-light-blue;
                    border-radius: 20px;
                    position: absolute;
                    left: 50%;
                    transition: all .5s;
                    transform-origin: 50% 0;
                    transform: translateX(-50%) scaleY(0);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    width: 100%;
                    max-width: 1440px;
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;
                    
                    li {
                        a {
                            color: $color-dark-blue;
                        }
                    }
                    
                    > li.menu-item_no {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                        padding: 40px 55px;
                        
                        > .sub-menu {
                            li {
                                margin-bottom: 12px;
                                
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            
                            a {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 30px;
                                font-family: $font-family-messina;
                                
                                &:hover {
                                    color: $color-blue;
                                }
                            }
                        }
                    }
                    
                    > li.menu-item_columns-2,
                    > li.menu-item_columns-3 {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                        padding: 40px 55px;
                        
                        > .sub-menu {
                            display: flex;
                            flex-wrap: wrap;
                            row-gap: 30px;
                            
                            > li {
                                flex: 0 0 50%;
                                max-width: 50%;
                                
                                > a {
                                    display: block;
                                    position: relative;
                                    font-size: 20px;
                                    line-height: 30px;
                                    margin-bottom: 8px;
                                    
                                    &:not(.is-description) {
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        width: max-content;
                                        gap: 8px;
                                        
                                        &:hover {
                                            &:before {
                                                opacity: 1;
                                            }
                                        }
                                        
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            width: 24px;
                                            height: 24px;
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            background-size: contain;
                                            background-image: url(../img/menu-link-arrow.svg);
                                            top: 50%;
                                            transform: translateY(-50%);
                                            right: -34px;
                                            transition: all .3s;
                                            opacity: 0;
                                        }
                                    }
                                    
                                    &.is-description {
                                        &:hover {
                                            .menu-item-wrap {
                                                &:before {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                        
                                        .menu-item-wrap {
                                            position: relative;
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            width: max-content;
                                            gap: 8px;
                                            
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                width: 24px;
                                                height: 24px;
                                                background-repeat: no-repeat;
                                                background-position: center center;
                                                background-size: contain;
                                                background-image: url(../img/menu-link-arrow.svg);
                                                top: 50%;
                                                transform: translateY(-50%);
                                                right: -34px;
                                                transition: all .3s;
                                                opacity: 0;
                                            }
                                        }
                                        
                                        .menu-item-description {
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 30px;
                                            font-family: $font-family-messina;
                                            max-width: 315px;
                                            display: block;
                                            color: $color-dark-blue;
                                            margin-top: 8px;
                                            
                                            &.is-icon {
                                                margin-left: 40px;
                                            }
                                        }
                                    }
                                    
                                    img {
                                        width: 24px;
                                        height: 24px;
                                        object-fit: contain;
                                        margin-right: 8px;
                                    }
                                    
                                    .menu-item-free {
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 24px;
                                        font-family: $font-family-messina;
                                        padding: 4px 10px;
                                        background: $color-light-blue;
                                        border-radius: 30px;
                                    }
                                }
                            }
                            
                            .sub-menu {
                                padding-left: 40px;
                                
                                li {
                                    margin-bottom: 12px;
                                    
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                                
                                a {
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 30px;
                                    font-family: $font-family-messina;
                                    
                                    &:hover {
                                        color: $color-blue;
                                    }
                                }
                            }
                        }
                    }
                    
                    > li.menu-item_columns-3 {
                        > .sub-menu {
                            > li {
                                flex: 0 0 33.33333%;
                                max-width: 33.33333%;
                            }
                        }
                    }
                    
                    > li.menu-item_dedicated {
                        flex: 0 0 325px;
                        max-width: 325px;
                        background-color: $color-light-blue;
                        padding: 40px 35px;
                        
                        > .sub-menu {
                            > li {
                                &.menu-item-has-children {
                                    > a {
                                        padding-right: 26px;
                                        
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            transform-origin: center;
                                            right: 0;
                                            width: 12px;
                                            height: 8px;
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            background-size: contain;
                                            background-image: url(../img/sub-menu-arrow.svg);
                                            transition: all .4s;
                                        }
                                    }
                                }
                                
                                > a {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    width: max-content;
                                    gap: 8px;
                                    position: relative;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 30px;
                                    font-family: $font-family-messina;
                                    margin-bottom: 12px;
                                    
                                    img {
                                        width: 24px;
                                        height: 24px;
                                        object-fit: contain;
                                        margin-right: 8px;
                                    }
                                    
                                    .menu-item-free {
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 24px;
                                        font-family: $font-family-messina;
                                        padding: 4px 10px;
                                        background: $color-light-blue;
                                        border-radius: 30px;
                                    }
                                }
                                
                                &:hover {
                                    > a {
                                        font-weight: 700;
                                        
                                        &:before {
                                            transform: translateY(-50%) rotate(180deg);
                                        }
                                    }
                                    
                                    .sub-menu {
                                        display: block;
                                    }
                                }
                            }
                            
                            .sub-menu {
                                padding-left: 40px;
                                display: none;
                                
                                li {
                                    margin-bottom: 12px;
                                    
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                                
                                a {
                                    display: block;
                                    width: max-content;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 30px;
                                    font-family: $font-family-messina;
                                    
                                    &:hover {
                                        color: $color-blue;
                                    }
                                }
                            }
                        }
                    }
                    
                    > li.menu-item_popular-resources {
                        flex: 0 0 math-clamp(400, 455);
                        max-width: math-clamp(400, 455);
                        background-color: $color-light-blue;
                        padding: 40px 35px;
                        
                        .cle-post-item {
                            $pi: &;
                            
                            padding: 12px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            gap: 16px;
                            
                            &:hover {
                                .cle-post-item__link {
                                    svg {
                                        transform: translateX(10px);
                                    }
                                }
                            }
                            
                            &__img {
                                border-radius: 3px;
                                width: 104px;
                                height: 64px;
                                
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 3px;
                                }
                            }
                            
                            &__container {
                                flex-basis: 0;
                                flex-grow: 1;
                                max-width: 100%;
                            }
                            
                            &__title {
                                font-size: 20px;
                                line-height: 30px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
                                margin-bottom: 8px;
                            }
                            
                            &__link {
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                gap: 8px;
                                font-family: $font-family-messina;
                                color: $color-blue;
                                
                                svg {
                                    transition: all .4s;
                                }
                            }
                        }
                    }
                    
                    > li {
                        &:first-child {
                            padding-left: 75px;
                        }
                        
                        &:last-child {
                            padding-right: 75px;
                        }
                    }
                    
                    .menu-item-two-level {
                        padding-bottom: 25px;
                        border-bottom: 1px solid $color-blue;
                        margin-bottom: 40px;
                        
                        a {
                            font-size: rem(20);
                            line-height: 30px;
                            color: $color-dark-blue;
                            position: relative;
                            display: inline-block;
                            
                            &:hover {
                                &:before {
                                    opacity: 1;
                                }
                            }
                            
                            &:before {
                                content: '';
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: contain;
                                background-image: url(../img/menu-link-arrow.svg);
                                top: 50%;
                                transform: translateY(-50%);
                                right: -34px;
                                transition: all .3s;
                                opacity: 0;
                            }
                        }
                    }
                }
                
                &:hover {
                    > .sub-menu {
                        transform: translateX(-50%) scaleY(1);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: initial;
                    }
                }
            }
        }
    }
}

.cle-header-mobile {
    position: fixed;
    top: math-clamp(86, 92);
    left: -100%;
    width: 100%;
    bottom: 0;
    background-color: $color-white;
    z-index: 9999;
    overflow: auto;
    transition: all .5s;
    display: flex;
    align-items: center;
    
    @media (min-width: 1200px) {
        display: none;
    }
    
    &.active {
        left: 0;
        z-index: 10;
    }
    
    &__container {
        width: 100%;
        padding: 30px 0;
    }
    
    &__menu {
        margin: 0;
        padding: 0 30px;
        list-style-type: none;
        
        a {
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        
        > li {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $color-medium-blue;
            
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
            
            > a,
            > .menu-item-wrap a {
                display: block;
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: $color-dark-blue;
                font-family: $font-family-messina;
            }
            
            > .menu-item-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 25px;
                
                a {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                }
                
                .open-sub-menu {
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    border: none;
                    
                    svg {
                        display: block;
                    }
                }
            }
            
            > .sub-menu {
                margin: 0;
                padding: 30px 30px 0;
                list-style-type: none;
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                overflow: auto;
                transition: all .5s;
                background-color: $color-white;
                z-index: 5;
                
                &.active {
                    left: 0;
                }
                
                > .close-sub-menu {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: $font-family-messina;
                    color: $color-blue;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 44px 0 50px 0;
                }
                
                > li {
                    margin-bottom: 60px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    &.menu-item_no {
                        .menu-item-two-level {
                            margin-bottom: 34px;
                            padding-bottom: 34px;
                            border-bottom: 1px solid $color-blue;
        
                            a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 28px;
                                line-height: 36px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
            
                                span {
                                    flex-basis: 0;
                                    flex-grow: 1;
                                    max-width: 100%;
                                }
            
                                svg {
                                    display: block;
                                }
                            }
                        }
    
                        + .menu-item_no {
                            
                            &:last-child {
                                
                                .menu-item-two-level {
                                    margin-bottom: 0;
                                    padding-bottom: 0;
                                    border-bottom: none;
                                }
                            }
                        }
                        
                        .sub-menu {
                            padding: 0;
                            margin: 0;
                            list-style-type: none;
    
                            li {
                                margin-bottom: 10px;
        
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
    
                            a {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 32px;
                                font-family: $font-family-messina;
                                color: $color-dark-blue;
                            }
                        }
                    }
                    
                    &.menu-item_columns-2,
                    &.menu-item_columns-3 {
                        .menu-item-two-level {
                            margin-bottom: 34px;
                            padding-bottom: 34px;
                            border-bottom: 1px solid $color-blue;
        
                            a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 28px;
                                line-height: 36px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
            
                                span {
                                    flex-basis: 0;
                                    flex-grow: 1;
                                    max-width: 100%;
                                }
            
                                svg {
                                    display: block;
                                }
                            }
                        }
    
                        > .sub-menu {
                            padding: 0;
                            margin: 0;
                            list-style-type: none;
        
                            > li {
                                margin-bottom: 40px;
            
                                &:last-child {
                                    margin-bottom: 0;
                                }
            
                                &.is-icon-menu-item {
                                    > a {
                                        display: block;
                                        position: relative;
                                        font-size: 20px;
                                        line-height: 30px;
                                        margin-bottom: 8px;
                                        color: $color-dark-blue;
                    
                                        &:not(.is-description) {
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            gap: 8px;
                                            padding-right: 40px;
                        
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                width: 30px;
                                                height: 30px;
                                                background-repeat: no-repeat;
                                                background-position: center center;
                                                background-size: contain;
                                                background-image: url(../img/menu-link-arrow.svg);
                                                top: 50%;
                                                transform: translateY(-50%);
                                                right: 0;
                                            }
                                        }
                    
                                        &.is-description {
                                            .menu-item-wrap {
                                                position: relative;
                                                display: flex;
                                                flex-wrap: wrap;
                                                align-items: center;
                                                gap: 8px;
                                                padding-right: 40px;
                            
                                                &:before {
                                                    content: '';
                                                    position: absolute;
                                                    width: 30px;
                                                    height: 30px;
                                                    background-repeat: no-repeat;
                                                    background-position: center center;
                                                    background-size: contain;
                                                    background-image: url(../img/menu-link-arrow.svg);
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    right: 0;
                                                }
                                            }
                        
                                            .menu-item-description {
                                                font-weight: 500;
                                                font-size: 16px;
                                                line-height: 30px;
                                                font-family: $font-family-messina;
                                                max-width: 315px;
                                                display: block;
                                                color: $color-dark-blue;
                                                margin-top: 8px;
                            
                                                &.is-icon {
                                                    margin-left: 48px;
                                                }
                                            }
                                        }
                    
                                        img {
                                            width: 32px;
                                            height: 32px;
                                            object-fit: contain;
                                            margin-right: 8px;
                                        }
                    
                                        .menu-item-free {
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 24px;
                                            font-family: $font-family-messina;
                                            padding: 4px 10px;
                                            background: $color-light-blue;
                                            border-radius: 30px;
                                        }
                                    }
                
                                    .sub-menu {
                                        padding-left: 48px;
                                        margin: 0;
                                        list-style-type: none;
                                        
                                        li {
                                            margin-bottom: 10px;
                                            
                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                        }
                                        
                                        a {
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 32px;
                                            font-family: $font-family-messina;
                                            color: $color-dark-blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    &.menu-item_dedicated {
                        background-color: $color-light-blue;
                        padding: 55px 30px;
                        margin: 0 -30px;
    
                        .menu-item-two-level {
                            margin-bottom: 34px;
                            padding-bottom: 34px;
                            border-bottom: 1px solid $color-blue;
        
                            svg {
                                display: none;
                            }
                            
                            a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 28px;
                                line-height: 36px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
            
                                span {
                                    flex-basis: 0;
                                    flex-grow: 1;
                                    max-width: 100%;
                                }
                            }
                        }
                        
                        > .sub-menu {
    
                            padding: 0;
                            margin: 0;
                            list-style-type: none;
                            
                            > li {
                                &.menu-item-has-children {
                                    > a {
                                        padding-right: 26px;
                        
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            transform-origin: center;
                                            right: 0;
                                            width: 12px;
                                            height: 8px;
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            background-size: contain;
                                            background-image: url(../img/sub-menu-arrow.svg);
                                            transition: all .4s;
                                        }
                                    }
                                }
                
                                > a {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    gap: 8px;
                                    position: relative;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 30px;
                                    font-family: $font-family-messina;
                                    margin-bottom: 12px;
                                    color: $color-dark-blue;
                    
                                    img {
                                        width: 24px;
                                        height: 24px;
                                        object-fit: contain;
                                        margin-right: 8px;
                                    }
                    
                                    .menu-item-free {
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 24px;
                                        font-family: $font-family-messina;
                                        padding: 4px 10px;
                                        background: $color-light-blue;
                                        border-radius: 30px;
                                    }
                                }
                
                                &:hover {
                                    > a {
                                        font-weight: 700;
                        
                                        &:before {
                                            transform: translateY(-50%) rotate(180deg);
                                        }
                                    }
                    
                                    .sub-menu {
                                        display: block;
                                    }
                                }
                            }
            
                            .sub-menu {
                                padding-left: 40px;
                                list-style-type: none;
                                margin: 0;
                
                                li {
                                    margin-bottom: 12px;
                    
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                
                                a {
                                    display: block;
                                    width: max-content;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 30px;
                                    font-family: $font-family-messina;
                                    color: $color-dark-blue;
                    
                                    &:hover {
                                        color: $color-blue;
                                    }
                                }
                            }
                        }
                    }
                    
                    &.menu-item_popular-resources {
                        background-color: $color-light-blue;
                        padding: 50px 30px;
                        margin: 0 -30px;
    
                        .menu-item-two-level {
                            margin-bottom: 34px;
                            padding-bottom: 34px;
                            border-bottom: 1px solid $color-blue;
        
                            svg {
                                display: none;
                            }
        
                            a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 28px;
                                line-height: 36px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
            
                                span {
                                    flex-basis: 0;
                                    flex-grow: 1;
                                    max-width: 100%;
                                }
                            }
                        }
                        
                        .cle-post-item {
                            $pi: &;
        
                            display: block;
                            margin-bottom: 50px;
                            
                            &:last-child {
                                margin-bottom: 0;
                            }
                            
                            &__title {
                                font-size: 20px;
                                line-height: 30px;
                                font-family: $font-family-arizona;
                                color: $color-dark-blue;
                                margin-bottom: 12px;
                            }
        
                            &__link {
                                display: flex;
                                align-items: center;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                gap: 8px;
                                font-family: $font-family-messina;
                                color: $color-blue;
            
                                svg {
                                    transition: all .4s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
