@use "sass:math";

@import "mixins/functions";
@import "mixins/mixins";
@import "fonts";


// Base custom typography style set
$font-family-open-sans: 'Open Sans';
$font-family-arizona: 'ABCArizonaMix';
$font-family-messina: 'MessinaSans';



// Base typography style
$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.5; // Sets the base line height
$base-font-family: $font-family-arizona; // Sets the base font family

$box-shadow: (0px 4px 10px rgba(20, 100, 255, 0.1));
$box-blue: rgba(20, 100, 255, 0.35);

$box-shadow-second: 0px 10px 20px rgba(10, 30, 70, 0.1);

// Colors
$brand-primary: #0f1d2b;
$brand-secondary: #fff4ec;

$color-true-black: #000000;
$color-black: #111111;
$color-blue: #1464FF;
$color-second-blue: #004EE4;
$color-dark-blue: #0A1E46;
$color-medium-blue: #DAEBFF;
$color-light-blue: #EDF5FF;
$color-white: #FFFFFF;
$color-yellow: #FFE478;
$color-orange: #F78239;
$color-green: #4ECC97;
$color-blue-blur: #313144;




