.vil-form{padding:56px 0}.vil-form__title{margin-bottom:20px}.vil-form__form-and-content{padding:0 15px}.vil-form__form-text-bottom{font-size:10px;margin-top:20px;padding-right:20px}.vil-form__only-form{max-width:710px;padding:0 15px;margin:auto}.vil-form-section{max-width:970px;margin:auto}.vil-form__left{max-width:383px}.vil-form__left-image{max-height:400px;width:-webkit-fill-available;margin-bottom:24px;border-radius:4px;-o-object-fit:cover;object-fit:cover}.vil-form__left-text{font-style:normal;text-align:center}.vil-form__right{max-width:506px;margin-left:auto}
/*# sourceMappingURL=../maps/blocks/form.css.map */
